
<div class="fullscreen-bluebg">
    
    <div class="container">
        
        
        <div class="container">
            
            <nav class="navbar navbar-inverse">
           <!-- style="margin-bottom:0; background-color:#2574A9; border-color:#2574A9; min-height:20px "-->
           
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-4">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    
                    <a class="navbar-brand" href="" style="font-color:#fff" ng-click="navigate('')">HOME</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="navbar-collapse-4">
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a href=""  ng-click="navigate('about')" class="dropdown-toggle" data-toggle="dropdown">ABOUT<span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                        <li><a href="" ng-click="navigate('thankyou')">Inspiration </a></li>
                        <li><a href="" ng-click="navigate('afbmagazine')">Mission</a></li>
                        
                        
                    </ul>
                        </li>

                            <!--<li class="dropdown ">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">Tasks<b class="caret"></b></a>
      <ul class="dropdown-menu">
        <li>
          <a href="/tasks">List</a>
        </li>

        <li>
          <a href="/tasks/new">New Task</a>
        </li>-->

                            <!--<ul class="sub-menu">
                                <li id="menu-item-4840" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4840"><a href="http://www.afreebird.org/about/contact-us/">Contact Us</a></li>
                                <li id="menu-item-3065" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3065"><a href="http://www.afreebird.org/about/">THE INSPIRATION</a></li>
                                <li id="menu-item-3066" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3066"><a href="http://www.afreebird.org/about/the-inspiration/">The Inspiration</a></li>
                                <li id="menu-item-3077" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3077"><a href="http://www.afreebird.org/our-vision/">Our Mission</a></li>
                                <li id="menu-item-3067" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3067"><a href="http://www.afreebird.org/about/people-of-afb/">People of AFB</a></li>
                            </ul>-->







                        </li>
                        <!--<li><a href="" ng-click="navigate('inspiration')">INSPIRATION</a></li>-->
                        <li class="dropdown">
                            <a href="" class="dropdown-toggle" data-toggle="dropdown">AFB NEWS<span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                        <li><a href="" ng-click="navigate('thankyou')">THANK YOU </a></li>
                        <li><a href="" ng-click="navigate('afbmagazine')">AFB Magazine</a></li>
                        
                        
                    </ul>
                        </li>
                    
                        
                        <li><a href="http://online.fliphtml5.com/ynvi/mzfr/" target="_blank"> MAGAZINE</a></li>
                        <li><a href="" ng-click="navigate('doctorscorner')"> DOCTOR'S CORNER </a></li>
                        <li class="dropdown">
                            <a href="" class="dropdown-toggle" data-toggle="dropdown"> PROGRMAS<span class="caret"></span> </a>
                            <ul class="dropdown-menu" role="menu">
                        <li><a href="" ng-click="navigate('fightfree')">Fight Free</a></li>
                        <li><a href="" ng-click="navigate('freepro')">Free and Pro</a></li>
                        <li><a href="" ng-click="navigate('dream')">Dream</a></li>
                        <li><a href="" ng-click="navigate('dream')">KSK</a></li>
                        
                    </ul>
                        </li>
                        <!--<li><a href=""> GET INVOLVED </a></li>-->
                        <li class="dropdown">
                            <a href="" class="dropdown-toggle" data-toggle="dropdown">GET INVOLVED<span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="" ng-click="navigate('volunteer')">Become a Volunteer</a></li>
                                <li><a href="" ng-click="navigate('tutor')">Become a Tutor</a></li>
                                <li><a href="" ng-click="navigate('intern')">Become a Intern</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="" class="dropdown-toggle" data-toggle="dropdown">DONATE<span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="" ng-click="navigate('volunteer')">Go Fund Me</a></li>
                                <li><a href="" ng-click="navigate('tutor')">Amazon Smile</a></li>
                                <li><a href="" ng-click="navigate('intern')">ebay</a></li>
                            </ul>
                        </li>
                    <li class="dropdown">
                        <a href="" class="dropdown-toggle" data-toggle="dropdown" > SPONSORS<span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                        <li><a href="" ng-click="navigate('sponsor')">Sponsor a child</a></li>
                        <li><a href="" ng-click="navigate('sponsor')">Get Excited</a></li>
                        <li><a href="" ng-click="navigate('oursponsors')">Our Sponsor</a></li>
                        
                    </ul>
                        </li>
                        <li><a href="">AFB STORE </a></li>
                        <!--<li><a href="" ng-click="navigate('inspiration')">CONTACT US</a></li>-->
                       <!--<li><a href="http://online.fliphtml5.com/ynvi/mzfr/" target="_blank"> EVENTS</a></li>
                        <li><a href="" ng-click="navigate('doctorscorner')"> BLOG </a></li>
                        <li><a href="http://online.fliphtml5.com/ynvi/mzfr/" target="_blank"> AFB STORE</a></li>-->
                        
                    


                   




                    <ul class="collapse nav navbar-nav nav-collapse slide-down" role="search" id="nav-collapse4">
                        <li><a href="#">Support</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><img class="img-circle" src="https://pbs.twimg.com/profile_images/588909533428322304/Gxuyp46N.jpg" alt="maridlcrmn" width="20" /> Maridlcrmn <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#">My profile</a></li>
                                <li><a href="#">Favorited</a></li>
                                <li><a href="#">Settings</a></li>
                                <li class="divider"></li>
                                <li><a href="#">Logout</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container -->
           <!--</div>-->
        </nav>
        <!-- /.navbar -->

            
    
     <!--<div class="treebg">
         
         <div class="content-main">
            
             <div class="text">
             
                <div class="breadcrumbs"></div>
                   
                 <h2> About A &nbsp;&nbsp;Free  Bird </h2>-->
                 
                   <div  class="center" style="margin-top:50px">
                    
                       
                       
                       
                       <p> A Free Bird™ is a non-profit arts education organization dedicated to helping young people, ages 4-18, affected by cancer, fight their disease through the therapeutic benefits of the arts.  We provide the artistic resources to hospitals and their patients so these kids can express their ideas and passions,                              while they go through their treatments!</p> 
                       
                    <p> Our artistic resources cover all art forms and we make them available to kids, parents, and hospitals, thanks to the help of our collaborative partners; art schools, museums, dance companies, musicians, theatres, and more!. </p>
                       
                    <p> We work closely with our partners to help children with cancer and other illnesses see hope for their futures. Our work includes providing art tutors to the hospitals and kids, having “Art Days” in the pediatric wards and the children’s museums and special “Event Days” for those kids who finished their treatments and want to continue learning their craft.  There is no doubt art can have strong healing powers for many patients! </p>
                       
                    <p> A Free Bird™ is young, but growing! We were established in 2008 and became a 501(c) 3 organization by January 2011.  In addition to our collaborative art partners, we already enjoy the support from many corporations who have provided us with generous donations. </p>
                       
                    <p> The importance of art may be diminishing in our schools, but the number of children diagnosed with cancer is increasing. Children are natural artists and show an exceptional talent when given the right guidance. With your help, we can achieve even more with these kids in the future! </p>
                    
                
               <!--<iframe width="200" height="140" src="https://www.youtube.com/embed/5-TW-IqrIkc" frameborder="0" allowfullscreen></iframe>-->
               
               <div class="fullscreen-bluebg">

                   <video loop muted autoplay poster="styles/img/skysunriseimg.jpg" class="fullscreen-bg__video">
                   <source src="styles/img/skysunrise.mp4" type="video/mp4">
               </video>
               </div>
                 
                   </div>
             
             </div>
    </div>
              
         
          <!--</div>
    
     </div>

</div>-->