
<div class="fullscreen-bluebg">
    
     <!--<div class="treebg">
         
         <div class="content-main">
            
             <div class="text">
             
                <div class="breadcrumbs"></div>
                   
                 <h2> About A &nbsp;&nbsp;Free  Bird </h2>-->
                 
                   <div>
                       
                    <p> A Free Bird™ is a non-profit arts education organization dedicated to helping young people, ages 4-18, affected by cancer, fight their disease through the therapeutic benefits of the arts.  We provide the artistic resources to hospitals and their patients so these kids can express their ideas and passions, while they go through their treatments! </p>
                       
                    <p> Our artistic resources cover all art forms and we make them available to kids, parents, and hospitals, thanks to the help of our collaborative partners; art schools, museums, dance companies, musicians, theatres, and more!. </p>
                       
                    <p> We work closely with our partners to help children with cancer and other illnesses see hope for their futures. Our work includes providing art tutors to the hospitals and kids, having “Art Days” in the pediatric wards and the children’s museums and special “Event Days” for those kids who finished their treatments and want to continue learning their craft.  There is no doubt art can have strong healing powers for many patients! </p>
                       
                    <p> A Free Bird™ is young, but growing! We were established in 2008 and became a 501(c) 3 organization by January 2011.  In addition to our collaborative art partners, we already enjoy the support from many corporations who have provided us with generous donations. </p>
                       
                    <p> The importance of art may be diminishing in our schools, but the number of children diagnosed with cancer is increasing. Children are natural artists and show an exceptional talent when given the right guidance. With your help, we can achieve even more with these kids in the future! </p>
                    
                
                 
                   </div>
             
             </div>
              
         
          <!--</div>
    
     </div>

</div>-->