<div class="fullscreen-bluebg">
    
     <!--div class="treebg">-->
         
         <div>
             
             <div class="container">
            
            <menu-directive> </menu-directive>
                 
                 <div class="center" style="margin-top:50px">
                   
                 <p><h1>COMING SOON.... </h1></p>
                 
                 
                 <div class="fullscreen-bluebg">

                   <video loop muted autoplay poster="styles/img/skysunriseimg.jpg" class="fullscreen-bg__video">
                   <source src="styles/img/skysunrise.mp4" type="video/mp4">
               </video>
               </div>
                         
                 </div>