<div class="fullscreen-bluebg">

    <div class="container">


        <div class="container">

            <menu-directive> </menu-directive>


            <!--<div class="treebg">
         
         <div class="content-main">
            
             <div class="text">
             
                <div class="breadcrumbs"></div>
                   
                 <h2> About A &nbsp;&nbsp;Free  Bird </h2>-->

            <div class="center" style="margin-top:50px">
                
                <img class="asa handcursor" src="styles/img/joinusgroup.jpg">




                <p> Artists Supporting Artists features well-established artists who are interested in hosting a performance from which the proceeds would benefit A Free Bird's                         mission.
                </p>

               


                <!--<iframe width="200" height="140" src="https://www.youtube.com/embed/5-TW-IqrIkc" frameborder="0" allowfullscreen></iframe>-->

                <div class="fullscreen-bluebg">

                    <video loop muted autoplay poster="styles/img/skysunriseimg.jpg" class="fullscreen-bg__video">
                        <source src="styles/img/skysunrise.mp4" type="video/mp4">
                    </video>
                </div>

            </div>

        </div>
    </div>