
<div class="fullscreen-bluebg1">
    
    <div class="container">
        
        <div class="container">
            
            <nav class="navbar navbar-inverse">
           <!-- style="margin-bottom:0; background-color:#2574A9; border-color:#2574A9; min-height:20px "-->
           
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-4">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    
                    <a class="navbar-brand" href="" style="font-color:#fff" ng-click="navigate('')">HOME</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="navbar-collapse-4">
                    <ul class="nav navbar-nav">
                        <li><a href="" ng-click="navigate('about')">ABOUT</a>

                            <!--<li class="dropdown ">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">Tasks<b class="caret"></b></a>
      <ul class="dropdown-menu">
        <li>
          <a href="/tasks">List</a>
        </li>

        <li>
          <a href="/tasks/new">New Task</a>
        </li>-->

                            <!--<ul class="sub-menu">
                                <li id="menu-item-4840" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4840"><a href="http://www.afreebird.org/about/contact-us/">Contact Us</a></li>
                                <li id="menu-item-3065" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3065"><a href="http://www.afreebird.org/about/">THE INSPIRATION</a></li>
                                <li id="menu-item-3066" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3066"><a href="http://www.afreebird.org/about/the-inspiration/">The Inspiration</a></li>
                                <li id="menu-item-3077" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3077"><a href="http://www.afreebird.org/our-vision/">Our Mission</a></li>
                                <li id="menu-item-3067" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3067"><a href="http://www.afreebird.org/about/people-of-afb/">People of AFB</a></li>
                            </ul>-->







                        </li>
                        <!--<li><a href="" ng-click="navigate('inspiration')">INSPIRATION</a></li>-->
                        <li class="dropdown">
                            <a href="" class="dropdown-toggle" data-toggle="dropdown">AFB IN THE NEWS<span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                        <li><a href="" ng-click="navigate('afbmagazine')">AFB Magazine</a></li>
                        
                        
                    </ul>
                        </li>
                    
                        <li><a href="" ng-click="navigate('thankyou')">THANK YOU </a></li>
                        <li><a href="http://online.fliphtml5.com/ynvi/mzfr/" target="_blank"> MAGAZINE</a></li>
                        <li><a href="" ng-click="navigate('doctorscorner')"> DOCTOR'S CORNER </a></li>
                        <li class="dropdown">
                            <a href="" class="dropdown-toggle" data-toggle="dropdown"> PROGRMAS<span class="caret"></span> </a>
                            <ul class="dropdown-menu" role="menu">
                        <li><a href="" ng-click="navigate('fightfree')">Fight Free</a></li>
                        <li><a href="" ng-click="navigate('freepro')">Free and Pro</a></li>
                        <li><a href="" ng-click="navigate('dream')">Dream</a></li>
                        
                    </ul>
                        </li>
                        <!--<li><a href=""> GET INVOLVED </a></li>-->
                        <li class="dropdown">
                            <a href="" class="dropdown-toggle" data-toggle="dropdown">GET INVOLVED<span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="" ng-click="navigate('volunteer')">Become a Volunteer</a></li>
                                <li><a href="" ng-click="navigate('tutor')">Become a Tutor</a></li>
                                <li><a href="" ng-click="navigate('intern')">Become a Intern</a></li>
                            </ul>
                        </li>
                        <li><a href=""> DONATE </a></li>
                    <li class="dropdown">
                        <a href="" class="dropdown-toggle" data-toggle="dropdown" > SPONSORS<span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                        <li><a href="" ng-click="navigate('sponsor')">Sponsor a child</a></li>
                        <li><a href="" ng-click="navigate('oursponsors')">Our Sponsor</a></li>
                        
                    </ul>
                        </li>
                        <li><a href="">SOCIAL MEDIA </a></li>
                        <!--<li><a href="" ng-click="navigate('inspiration')">CONTACT US</a></li>-->
                       <!--<li><a href="http://online.fliphtml5.com/ynvi/mzfr/" target="_blank"> EVENTS</a></li>
                        <li><a href="" ng-click="navigate('doctorscorner')"> BLOG </a></li>
                        <li><a href="http://online.fliphtml5.com/ynvi/mzfr/" target="_blank"> AFB STORE</a></li>-->
                        
                    


                   




                    <ul class="collapse nav navbar-nav nav-collapse slide-down" role="search" id="nav-collapse4">
                        <li><a href="#">Support</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><img class="img-circle" src="https://pbs.twimg.com/profile_images/588909533428322304/Gxuyp46N.jpg" alt="maridlcrmn" width="20" /> Maridlcrmn <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#">My profile</a></li>
                                <li><a href="#">Favorited</a></li>
                                <li><a href="#">Settings</a></li>
                                <li class="divider"></li>
                                <li><a href="#">Logout</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container -->
           <!--</div>-->
        </nav>
        <!-- /.navbar -->
    
    <!-- <div class="treebg1">
         
         <div class="content-main2" height="1200" width="1115">
            
             <div class="text">
             
                <div class="breadcrumbs"></div>
                   
                 <h2> The Doctor's Corner </h2>-->
                 
                   <div class="center" style="margin-top:50px" >

                    <div style="float:left; margin-right:15px; margin-top:10px;">
                     <div id="attachment_110" style="width: 222px" class="wp-caption alignleft">
                       <a rel="attachment wp-att-110" href="http://www.afreebird.org/the-doctors-corner/olympus-digital-camera/">
                       <img class="size-medium wp-image-110 " title="Dr. Levon Agdere" src="http://www.afreebird.org/wp-content/uploads/2014/02/DR-LEVON-AGDERE-300x225.jpg" alt="" width="212" height="157">
                       </a>
                       <p class="wp-caption-text">by Dr. Levon Agdere</p>
                      </div>
                        </div>
                    </div>
                       
                    <p>According to the American Cancer Society, approximately 12,000 children under the age of 21 are diagnosed with cancer every year in the United States. The diagnosis of childhood cancer is a devastating blow to the parents and others who love the child. With this crisis, in a very short period of time, life becomes anything but normal. The ill child becomes the main focus while other concerns are put on hold. The parents must understand enough about the treatment plan to give permission for tests and procedures, sign consent form for treatment, and make important decisions about their child’s care. Parents describe it as “being on an emotional roller coaster” or “in a bad dream”. The way they manage reflects their own life experiences, ethnic and cultural backgrounds, and their unique coping styles.</p>
                       
                    <p>Our understanding of how cancers develop is evolving. Normal body cells grow, divide and die in an orderly fashion. DNA, which is found in every cell, directs these actions. In a normal cell, if the DNA gets damaged either the cell repairs the damage or the cell dies. A cancer cell, however, has damaged DNA, but the cell does not die. Instead, it grows out of control and can then invade other tissues and body organs forming a mass or tumor. Some DNA damage is inherited, but most is caused by mistakes that occur while the cell is reproducing or by environmental factors. Cigarette smoking is one well-known environmental trigger. Often, no identifiable cause for the DNA damage is found.</p>
                       
                    <p>In leukemia, cancer cells involve the blood and blood forming organs and circulate through other tissues where they grow. Cancer cells often travel to the other parts of the body where they begin to grow and form new tumors that replace normal tissue. This process is called metastasis.</p>
                       
                    <p>The types of cancers that occur in children vary greatly from those seen in adults. <b>Leukemias</b> are the most common childhood cancers They account for about one third (33%) of all childhood cancers. Acute lymphocytic leukemia (ALL) and acute myelogenous leukemia (AML) are the most common types of leukemia in children. Leukemia may cause bone and joint pain as well as fever, weakness, weight loss and other symptoms. <b>Brain and other nervous system cancers</b> are the second most common cancers in children (21% of all childhood cancers). Most of these cancers involve the brain stem. These cancers can cause headaches, vomiting, blurred or double vision, dizziness, and trouble walking. Less common cancers are <b>neuroblastoma</b> (7%), <b>Wilms tumor</b> (5%), <b>Hodgkin lymphoma</b> (4%), non<b>-Hodgkin lymphoma</b> (4%), <b>rhabdomyosarcoma</b> (3%),<b> retinoblastoma</b> (3%), <b>and bone cancers</b> (<b>osteosarcoma</b>: 3%, <b>Ewing sarcoma</b>: 1%).</p>
                       
                    <p>Different cancers grow at different rates and respond to different treatments. Chemotherapy, radiotherapy or surgery are individualized to the particular cancer type. Today, because of the advances made in medicine, about 80% of children treated for cancer survive 5 years or more. This is a huge increase from before the 1970s when the 5 year survival rate was less than 50%. Most children with cancer in the United States are treated at a center that is a member of the Children’s Oncology Group (COG). To find a listing of COG institutions by state you can visit their website at: <a href="http://www.curesearch.org/resources/cog.aspx" target="_blank"><b>www.curesearch.org/resources/cog.aspx</b></a>.</p>
                       
                    <p>The treatments that allow these children to survive can, at times, also cause health problems that may emerge anytime, even months or years after treatment. The cancer and the treatment may impair the function of body organs leading to growth and developmental issues, as well as emotional ones. Emotional concerns may include compromises or losses due to cancer, living with uncertainty, apprehension about developing relationships, marriage and forming a family, and possible discrimination in employment. Because childhood cancer survivors are living longer, their long-term overall health and these late effects have become a focus of care and research. Studies have shown that most cancer survivors function well in daily life and society. With strong support from family, other survivors, mental health professionals, and their physicians, people who have survived cancer can thrive in spite of the challenges they have had to face.</p>
                       
                    
                
                 
                   </div>
             
             </div>
              
         
          </div>
    
     </div>

</div>