
<div class="fightfree">

<div class="container">
        
        
        <div class="container">
            
           <menu-directive> </menu-directive>
            
       <div class="transbox">
         <p> {{myString | limitTo:numLimit}} Our Fight FREE program provides children, aged 6-18, who are currently fighting cancer, with art tutors to give these young people the strength and power necessary to help them fight their illness.</p>
           <p> {{myString | limitTo:numLimit}} </p>
<button type='button' ng-click="readMore()">read more</button>
         
       </div>
     
</div>