<div>
    
     <!-- Second navbar for profile settings -->
    
    
	<header>
        
        <div class="container">
            
            <nav class="navbar navbar-inverse">
           <!-- style="margin-bottom:0; background-color:#2574A9; border-color:#2574A9; min-height:20px "-->
           
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-4">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    
                    <a class="navbar-brand" href="" style="font-color:#fff" ng-click="navigate('')">HOME</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="navbar-collapse-4">
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a href=""  ng-click="navigate('about')" class="dropdown-toggle" data-toggle="dropdown">ABOUT<span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                        <li><a href="" ng-click="navigate('thankyou')">Inspiration </a></li>
                        <li><a href="" ng-click="navigate('afbmagazine')">Mission</a></li>
                        
                        
                    </ul>
                        </li>

                            <!--<li class="dropdown ">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">Tasks<b class="caret"></b></a>
      <ul class="dropdown-menu">
        <li>
          <a href="/tasks">List</a>
        </li>

        <li>
          <a href="/tasks/new">New Task</a>
        </li>-->

                            <!--<ul class="sub-menu">
                                <li id="menu-item-4840" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4840"><a href="http://www.afreebird.org/about/contact-us/">Contact Us</a></li>
                                <li id="menu-item-3065" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3065"><a href="http://www.afreebird.org/about/">THE INSPIRATION</a></li>
                                <li id="menu-item-3066" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3066"><a href="http://www.afreebird.org/about/the-inspiration/">The Inspiration</a></li>
                                <li id="menu-item-3077" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3077"><a href="http://www.afreebird.org/our-vision/">Our Mission</a></li>
                                <li id="menu-item-3067" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3067"><a href="http://www.afreebird.org/about/people-of-afb/">People of AFB</a></li>
                            </ul>-->







                        </li>
                        <!--<li><a href="" ng-click="navigate('inspiration')">INSPIRATION</a></li>-->
                        <li class="dropdown">
                            <a href="" class="dropdown-toggle" data-toggle="dropdown">AFB NEWS<span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                        <li><a href="" ng-click="navigate('thankyou')">THANK YOU </a></li>
                        <li><a href="" ng-click="navigate('afbmagazine')">AFB Magazine</a></li>
                        
                        
                    </ul>
                        </li>
                    
                        
                        <li><a href="http://online.fliphtml5.com/ynvi/mzfr/" target="_blank"> MAGAZINE</a></li>
                        <li><a href="" ng-click="navigate('doctorscorner')"> DOCTOR'S CORNER </a></li>
                        <li class="dropdown">
                            <a href="" class="dropdown-toggle" data-toggle="dropdown"> PROGRMAS<span class="caret"></span> </a>
                            <ul class="dropdown-menu" role="menu">
                        <li><a href="" ng-click="navigate('fightfree')">Fight Free</a></li>
                        <li><a href="" ng-click="navigate('freepro')">Free and Pro</a></li>
                        <li><a href="" ng-click="navigate('dream')">Dream</a></li>
                        <li><a href="" ng-click="navigate('dream')">KSK</a></li>
                        
                    </ul>
                        </li>
                        <!--<li><a href=""> GET INVOLVED </a></li>-->
                        <li class="dropdown">
                            <a href="" class="dropdown-toggle" data-toggle="dropdown">GET INVOLVED<span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="" ng-click="navigate('volunteer')">Become a Volunteer</a></li>
                                <li><a href="" ng-click="navigate('tutor')">Become a Tutor</a></li>
                                <li><a href="" ng-click="navigate('intern')">Become a Intern</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="" class="dropdown-toggle" data-toggle="dropdown">DONATE<span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="" ng-click="navigate('volunteer')">Go Fund Me</a></li>
                                <li><a href="" ng-click="navigate('tutor')">Amazon Smile</a></li>
                                <li><a href="" ng-click="navigate('intern')">ebay</a></li>
                            </ul>
                        </li>
                    <li class="dropdown">
                        <a href="" class="dropdown-toggle" data-toggle="dropdown" > SPONSORS<span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                        <li><a href="" ng-click="navigate('sponsor')">Sponsor a child</a></li>
                        <li><a href="" ng-click="navigate('sponsor')">Get Excited</a></li>
                        <li><a href="" ng-click="navigate('oursponsors')">Our Sponsor</a></li>
                        
                    </ul>
                        </li>
                        <li><a href="">AFB STORE </a></li>
                        <!--<li><a href="" ng-click="navigate('inspiration')">CONTACT US</a></li>-->
                       <!--<li><a href="http://online.fliphtml5.com/ynvi/mzfr/" target="_blank"> EVENTS</a></li>
                        <li><a href="" ng-click="navigate('doctorscorner')"> BLOG </a></li>
                        <li><a href="http://online.fliphtml5.com/ynvi/mzfr/" target="_blank"> AFB STORE</a></li>-->
                        


                   




                    <ul class="collapse nav navbar-nav nav-collapse slide-down" role="search" id="nav-collapse4">
                        <li><a href="#">Support</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><img class="img-circle" src="https://pbs.twimg.com/profile_images/588909533428322304/Gxuyp46N.jpg" alt="maridlcrmn" width="20" /> Maridlcrmn <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#">My profile</a></li>
                                <li><a href="#">Favorited</a></li>
                                <li><a href="#">Settings</a></li>
                                <li class="divider"></li>
                                <li><a href="#">Logout</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container -->
           <!--</div>-->
        </nav>
        <!-- /.navbar -->

            
            <div class="left-tree-items">
                
                <div class="row">
                    <div class="col-md-2">
                        <img class="tree-line" src="styles/img/whiteline.jpg" style="height: 200px; margin-top: -250px">
                        <img class="handcursor tree-icon" src="styles/img/newkidssupporting.jpg" ng-click="navigate('ksk')" style="margin-top:150px">
                    </div>
                     <div class="col-md-2">
                          <img class="tree-line" src="styles/img/whiteline.jpg" style="margin-top: -380px; height: 150px">
                        <img class="handcursor tree-icon" src="styles/img/newsocialmedia.jpg">
                    </div>
                     <div class="col-md-2" style="margin-left:-20px">
                         <img class="tree-line" src="styles/img/whiteline.jpg" style="height: 230px; margin-top: -320px">
                        <img class="handcursor tree-icon" src="styles/img/newartistsupporting.jpg" style="margin-top:150px">
                    </div>
                    <div class="col-md-2"></div>
                    <div class="col-md-2">
                         <!--<img class="tree-line" src="styles/img/whiteline.jpg" >-->
                        <img class= "handcursor tree-icon"  src="styles/img/fightfreenew.png" ng-click="navigate('fightfree')" style="margin-top: 100px; width: 150px; margin-left:80px">
                    </div>
                     <div class="col-md-1">
                          <!--<img class="tree-line" src="styles/img/whiteline.jpg">-->
                        <img class="tree-icon handcursor" src="styles/img/newdream.jpg" ng-click="navigate('dream')" style="margin-top: -90px; margin-left: -20px">
                    </div>
                     <div class="col-md-1">
                          <!--<img class="tree-line" src="styles/img/whiteline.jpg">-->
                       <img class="tree-icon handcursor" src="styles/img/newfreepro.jpg" ng-click="navigate('freepro')" style="margin-top: 140px; width:150px; margin-left: 30px;">
                    </div>
                </div>
                
                
            </div>
        
        
               <!--<nav>
                   <div class="row">
                      <ul class="main-nav">
                        <li><a href=""  ng-click="navigate('')"> HOME </a></li>
                        <li><a href="" ng-click="navigate('about')"> ABOUT </a></li>
                        <li><a href="#"> AFB IN THE NEWS </a></li>
                        <li><a href="#"> DOCTOR'S CORNER </a></li>
                        <li><a href="#"> PROGRAMS </a></li>
                        <li><a href="#"> GET INVOLVED </a></li>
                        <li><a href="#"> DONATE </a></li>
                        <li><a href="#"> OUR SPONSORS </a></li>
                        <li><a href="#"> EVENTS </a></li>
                        <li><a href="#"> AFB MAGAZINE </a></li>
                      </ul>   
                   
                   
                    </div>
               
               
               </nav>-->
        
               
               
               
               
               
               
               <img class="img1 handcursor" src="styles/img/joinusgroup.jpg">
               <img class="img2 handcursor" src="styles/img/boygroup.jpg">
               <img class="img3 handcursor" src="styles/img/newslettersignup.jpg" ng-click="navigate('newsletter')">
               <img class="img4 handcursor" src="styles/img/A%20freebird%20Logo.jpg">

               <!--<img class="sponsor1 handcursor" src="styles/img/music.jpg">
               <img class="sponsor2 handcursor" src="styles/img/black.jpg">
               <img class="sponsor3 handcursor" src="styles/img/goodbean.jpg">
               <img class="sponsor4 handcursor" src="styles/img/theatre.jpg">
               <img class="sponsor5 handcursor" src="styles/img/dance.jpg">
               <img class="sponsor6 handcursor" src="styles/img/ballet.jpg">-->
               <!--<img class="img1" src="styles/img/artistsupport.jpg">-->
               <!--<img class="img-circle" src="styles/img/kidsupport.jpg">
               <!--<div class="button">dfgsahga</div>-->
               <!--<div class="hero-text-box1">-->
               
               <!--</div>-->
               <!--<video width="200" controls>
  <source src="https://youtu.be/5-TW-IqrIkc" type="video/mp4">
 
 
</video>-->
        
       <!-- <a href="http://www.facebook.com/afreebirdorg"><img src="http://www.afreebird.org/wp-content/uploads/2014/02/ico-face.png" alt="Facebook"></a><a href="http://www.instagram.com/afreebirdorg"><img src="http://www.afreebird.org/wp-content/uploads/2014/02/insta_icon.png" alt="Instagram"></a><a href="http://www.youtube.com/user/AFreeBirdOrg"><img src="http://www.afreebird.org/wp-content/uploads/2014/02/you40.png"--   <a href="http://www.afreebird.org/signup-to-our-newsletter/" title="Subscribe to newsletter" id="signup-link"><div id="newsletter"><p id="subscribe">Subscribe</p></div></a>-->
        
        <!--<p class="subscribetext">Subscribe</p>-->
        <!--<img class="logooo" src="styles/img/logo1.jpg" ng-click="navigate('home')">
        
        <a href="http://www.afreebird.org/signup-to-our-newsletter/" target="_blank">
        <img class="suscribe" src="styles/img/suscribenest.jpg"> 
        </a>
        
        <a href="http://twitter.com/AFreeBirdOrg" target="_blank">
        <img class="twitter" src="styles/img/twittericon.jpg" ng-click="navigate('http://twitter.com/AFreeBirdOrg')">
        </a>
        
        <a href="http://www.facebook.com/afreebirdorg" target="_blank">
        <img class="facebook" src="styles/img/facebookicon.jpg">
        </a>
        
        <a href="http://www.instagram.com/afreebirdorg" target="_blank">
        <img class="instagram" src="styles/img/instagramicon.jpg"> 
        </a>
        
        <a href="http://www.youtube.com/user/AFreeBirdOrg" target="_blank">
        <img class="youtube" src="styles/img/utubeicon.jpg">
        </a>-->
               
               <iframe width="200" height="140" src="https://www.youtube.com/embed/5-TW-IqrIkc" frameborder="0" allowfullscreen></iframe>
               
               <div class="fullscreen-bg">

                   <video loop muted autoplay poster="styles/img/skysunriseimg.jpg" class="fullscreen-bg__video">
                   <source src="styles/img/skysunrise.mp4" type="video/mp4">
               </video>
               </div>
            

               <!--<a href="#"> Dream </a>
               <a href="#"> Fight Free</a>
               <a href="#"> Free and Pro</a>
               <a href="#"> Social Media</a>-->
           
        </div>
           </header>
</div>
