<div class="fullscreen-bluebg">

   <!-- <div class="treebg2">

        <div class="content-main6" height="1200" width="5478">

            <div class="text">

                <div class="breadcrumbs"></div>

                <h2> Become a Intern </h2>-->
    
                <div class="container">
                    
                    <div class="container">
                    
                    <nav class="navbar navbar-inverse">
           <!-- style="margin-bottom:0; background-color:#2574A9; border-color:#2574A9; min-height:20px "-->
           
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-4">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    
                    <a class="navbar-brand" href="" style="font-color:#fff" ng-click="navigate('')">HOME</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="navbar-collapse-4">
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a href=""  ng-click="navigate('about')" class="dropdown-toggle" data-toggle="dropdown">ABOUT<span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                        <li><a href="" ng-click="navigate('inspiration')">Inspiration </a></li>
                        <li><a href="" ng-click="navigate('mission')">Mission</a></li>
                        
                        
                    </ul>
                        </li>

                            <!--<li class="dropdown ">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">Tasks<b class="caret"></b></a>
      <ul class="dropdown-menu">
        <li>
          <a href="/tasks">List</a>
        </li>

        <li>
          <a href="/tasks/new">New Task</a>
        </li>-->

                            <!--<ul class="sub-menu">
                                <li id="menu-item-4840" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4840"><a href="http://www.afreebird.org/about/contact-us/">Contact Us</a></li>
                                <li id="menu-item-3065" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3065"><a href="http://www.afreebird.org/about/">THE INSPIRATION</a></li>
                                <li id="menu-item-3066" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3066"><a href="http://www.afreebird.org/about/the-inspiration/">The Inspiration</a></li>
                                <li id="menu-item-3077" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3077"><a href="http://www.afreebird.org/our-vision/">Our Mission</a></li>
                                <li id="menu-item-3067" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3067"><a href="http://www.afreebird.org/about/people-of-afb/">People of AFB</a></li>
                            </ul>-->







                        </li>
                        <!--<li><a href="" ng-click="navigate('inspiration')">INSPIRATION</a></li>-->
                        <li class="dropdown">
                            <a href="" class="dropdown-toggle" data-toggle="dropdown">AFB NEWS<span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                        <li><a href="" ng-click="navigate('thankyou')">THANK YOU </a></li>
                        <li><a href="" ng-click="navigate('afbmagazine')">AFB Magazine</a></li>
                        
                        
                    </ul>
                        </li>
                    
                        
                        <li><a href="http://online.fliphtml5.com/ynvi/mzfr/" target="_blank"> MAGAZINE</a></li>
                        <li><a href="" ng-click="navigate('doctorscorner')"> DOCTOR'S CORNER </a></li>
                        <li class="dropdown">
                            <a href="" class="dropdown-toggle" data-toggle="dropdown"> PROGRMAS<span class="caret"></span> </a>
                            <ul class="dropdown-menu" role="menu">
                        <li><a href="" ng-click="navigate('fightfree')">Fight Free</a></li>
                        <li><a href="" ng-click="navigate('freepro')">Free and Pro</a></li>
                        <li><a href="" ng-click="navigate('dream')">Dream</a></li>
                          <li><a href="" ng-click="navigate('ksk')">KSK</a></li>
                         <li><a href="" ng-click="navigate('asa')">ASA</a></li>
                        
                    </ul>
                        </li>
                        <!--<li><a href=""> GET INVOLVED </a></li>-->
                        <li class="dropdown">
                            <a href="" class="dropdown-toggle" data-toggle="dropdown">GET INVOLVED<span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="" ng-click="navigate('volunteer')">Become a Volunteer</a></li>
                                <li><a href="" ng-click="navigate('tutor')">Become a Tutor</a></li>
                                <li><a href="" ng-click="navigate('intern')">Become a Intern</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="" class="dropdown-toggle" data-toggle="dropdown">DONATE<span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="" ng-click="navigate('volunteer')">Go Fund Me</a></li>
                                <li><a href="" ng-click="navigate('tutor')">Amazon Smile</a></li>
                                <li><a href="" ng-click="navigate('intern')">ebay</a></li>
                            </ul>
                        </li>
                    <li class="dropdown">
                        <a href="" class="dropdown-toggle" data-toggle="dropdown" > SPONSORS<span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                        <li><a href="" ng-click="navigate('sponsor')">Sponsor a child</a></li>
                        <li><a href="" ng-click="navigate('sponsor')">Get Excited</a></li>
                        <li><a href="" ng-click="navigate('oursponsors')">Our Sponsor</a></li>
                        
                    </ul>
                        </li>
                        <li><a href="" ng-click="navigate('afbperfume')">AFB STORE </a></li>
                        <!--<li><a href="" ng-click="navigate('inspiration')">CONTACT US</a></li>-->
                       <!--<li><a href="http://online.fliphtml5.com/ynvi/mzfr/" target="_blank"> EVENTS</a></li>
                        <li><a href="" ng-click="navigate('doctorscorner')"> BLOG </a></li>
                        <li><a href="http://online.fliphtml5.com/ynvi/mzfr/" target="_blank"> AFB STORE</a></li>-->
                        


                   




                    <ul class="collapse nav navbar-nav nav-collapse slide-down" role="search" id="nav-collapse4">
                        <li><a href="#">Support</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><img class="img-circle" src="https://pbs.twimg.com/profile_images/588909533428322304/Gxuyp46N.jpg" alt="maridlcrmn" width="20" /> Maridlcrmn <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#">My profile</a></li>
                                <li><a href="#">Favorited</a></li>
                                <li><a href="#">Settings</a></li>
                                <li class="divider"></li>
                                <li><a href="#">Logout</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container -->
           <!--</div>-->
        </nav>
        <!-- /.navbar -->
                    
             <div class="fullscreen-bluebg">

                   <video loop muted autoplay poster="styles/img/skysunriseimg.jpg" class="fullscreen-bg__video">
                   <source src="styles/img/skysunrise.mp4" type="video/mp4">
               </video>
               </div>
                    
                    
                <div class="center" style="margin-top:50px">

                    <p>A Free Bird™ is always looking for enthusiastic individuals who are interested in the arts, therapy, and helping children to make a difference. Please complete the application below and we will contact you.</p>

                    <div role="form" class="wpcf7" id="wpcf7-f929-p24-o1" dir="ltr">
                        <div class="screen-reader-response"></div>
                        <form action="/volunteer/#wpcf7-f929-p24-o1" method="post" class="wpcf7-form" enctype="multipart/form-data" novalidate="novalidate">
                            <div style="display: none;">
                                <input type="hidden" name="_wpcf7" value="929">
                                <input type="hidden" name="_wpcf7_version" value="4.3">
                                <input type="hidden" name="_wpcf7_locale" value="">
                                <input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f929-p24-o1">
                                <input type="hidden" name="_wpnonce" value="adfb848c11">
                            </div>
                            <p><span><strong>Contact Information</strong><br>
</span>
                                <br>
                                <span>
   <label>Last Name (required)</label><br>
   <span class="wpcf7-form-control-wrap txt-lastname">
   <input type="text" name="txt-lastname" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false">
   </span>
                                </span>
                                <br><br>

                                <span>
    <label>First Name (required)</label><br>
      <span class="wpcf7-form-control-wrap txt-firstname">
      <input type="text" name="txt-firstname" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false">
      </span>
                                </span>
                                <br><br>

                                <span>
    <label>Street Address (required)</label><br>
      <span class="wpcf7-form-control-wrap txt-streetAddress">
      <input type="text" name="txt-streetAddress" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false">
      </span>
                                </span>
                                <br><br>

                                <span>
    <label>City, State and Zip Code (required)</label><br>
      <span class="wpcf7-form-control-wrap txt-city">
      <input type="text" name="txt-city" value="" size="40" class="wpcf7-form-control wpcf7-text" aria-invalid="false">
      </span>
                                </span>
                                <br><br>

                                <span>
    <label>Contact Phone (required)</label><br>
      <span class="wpcf7-form-control-wrap txt-contactPhone">
      <input type="text" name="txt-contactPhone" value="" size="40" class="wpcf7-form-control wpcf7-text" aria-invalid="false">
      </span>
                                </span>
                                <br><br>

                                <span>
    <label>Your Email (required)</label><br>
      <span class="wpcf7-form-control-wrap txt-email">
      <input type="email" name="txt-email" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email" aria-required="true" aria-invalid="false">
      </span>
                                </span><br><br>
                            </p>
                            
                            
                            <p><span><strong>Education - College/University</strong><br><br>
</span>
                                <label>Location (required)</label><br>
      <span class="wpcf7-form-control-wrap txt-email">
      <input type="email" name="txt-email" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email" aria-required="true" aria-invalid="false">
      </span><br><br>
                                
                                <label>Years Completed (required)</label><br>
      <span class="wpcf7-form-control-wrap txt-email">
      <input type="email" name="txt-email" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email" aria-required="true" aria-invalid="false">
      </span><br><br>
                                
                                <label>Major/Concentration (required)</label><br>
      <span class="wpcf7-form-control-wrap txt-email">
      <input type="email" name="txt-email" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email" aria-required="true" aria-invalid="false">
      </span><br><br>
                                
                                <label>Expected Graduation Date (required)</label><br>
      <span class="wpcf7-form-control-wrap txt-email">
      <input type="email" name="txt-email" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email" aria-required="true" aria-invalid="false">
      </span><br><br>

                            <p><span><strong>Availability</strong><br>
</span>
                                <br>
                                <span>
    <label>During which hours are you available for volunteer assignments?</label>
</span>
                                <br>
                                <br>

                                <span class="check"><br>
  <span class="wpcf7-form-control-wrap chk-availibility">
    <span class="wpcf7-form-control wpcf7-checkbox wpcf7-validates-as-required">
      <span class="wpcf7-list-item first">
        <input type="checkbox" name="chk-availibility[]" value="Weekday Mornings">&nbsp;<br>
        <span class="wpcf7-list-item-label">Weekday Mornings</span></span>
                                <br>
                                <span class="wpcf7-list-item">
              <input type="checkbox" name="chk-availibility[]" value="Weekend Mornings">&nbsp;<br>
               <span class="wpcf7-list-item-label">Weekend Mornings</span></span>
                                <br>
                                <span class="wpcf7-list-item">
                    <input type="checkbox" name="chk-availibility[]" value="Weekday Afternoons">&nbsp;<br>
                    <span class="wpcf7-list-item-label">Weekday Afternoons</span></span>
                                <br>
                                <span class="wpcf7-list-item">
                    <input type="checkbox" name="chk-availibility[]" value="Weekend Afternoons">&nbsp;<br>
                    <span class="wpcf7-list-item-label">Weekend Afternoons</span></span>
                                <br>
                                <span class="wpcf7-list-item">
                    <input type="checkbox" name="chk-availibility[]" value="Weekday Evenings">&nbsp;<br>
                    <span class="wpcf7-list-item-label">Weekday Evenings</span></span>
                                <br>
                                <span class="wpcf7-list-item last">
                    <input type="checkbox" name="chk-availibility[]" value="Weekend Evenings">&nbsp;<br>
                    <span class="wpcf7-list-item-label">Weekend Evenings</span></span>
                                 <br>
                                 <br>
                    <span class="wpcf7-list-item last">
                    <input type="checkbox" name="chk-availibility[]" value="Summer (June through August)">&nbsp;<br>
                    <span class="wpcf7-list-item-label">Summer (June through August)</span></span>
                                 <br>
                    <span class="wpcf7-list-item last">
                    <input type="checkbox" name="chk-availibility[]" value="Fall (September through November)">&nbsp;<br>
                    <span class="wpcf7-list-item-label">Fall (September through November)</span></span>
                                 <br>
                    <span class="wpcf7-list-item last">
                    <input type="checkbox" name="chk-availibility[]" value="Spring (Febraury through April)">&nbsp;<br>
                    <span class="wpcf7-list-item-label">Spring (Febraury through April)</span></span>
                                 <br>
                    
        
                                </span>
                                </span>
                                </span>
                            </p>
                            <br>
                            
                            <p>
    <span><label>Will you seek academic credit for this internship?</label><br><span class="wpcf7-form-control-wrap rad-academicCredit"><span class="wpcf7-form-control wpcf7-radio"><span class="wpcf7-list-item first"><input type="radio" name="rad-academicCredit" value="Yes">&nbsp;<br><span class="wpcf7-list-item-label">Yes</span></span><br><span class="wpcf7-list-item last"><input type="radio" name="rad-academicCredit" value="No">&nbsp;<br><span class="wpcf7-list-item-label">No</span></span><br>
    </span>
    </span>
    </span>
</p>
                            
                            <p><span><strong>If seeking academic credit, interns are responsible for obtaining and meeting their specific program requirements.  A Free Bird will provide necessary documentation for credit upon request.</strong></span></p>
                            
                            <p><span><strong>Please provide contact information, if any, for your academic advisor.</strong></span><br><br>
<span><label>Last Name (required)</label><br><span class="wpcf7-form-control-wrap txt-acadLastname"><input type="text" name="txt-acadLastname" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false"></span></span><br><br>
<span><label>First Name (required)</label><br><span class="wpcf7-form-control-wrap txt-acadFirstname"><input type="text" name="txt-acadFirstname" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false"></span></span><br><br>
<span><label>Contact Phone (required)</label><br><span class="wpcf7-form-control-wrap txt-acadContactPhone"><input type="text" name="txt-acadContactPhone" value="" size="40" class="wpcf7-form-control wpcf7-text" aria-invalid="false"></span></span><br><br>
<span><label>Contact Email (required)</label><br><span class="wpcf7-form-control-wrap txt-acadEmail"><input type="email" name="txt-acadEmail" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email" aria-required="true" aria-invalid="false"></span></span></p>

                            <p>
                                <span><strong>Department</strong></span>
                                <br>
                                <br>
                                <span>
   <label>Please check the department which would best fit your field of study:</label><br>
   </span>
                                <br>

                                <span class="check">
      <span class="wpcf7-form-control-wrap chk-interests">
        <span class="wpcf7-form-control wpcf7-checkbox wpcf7-validates-as-required">
          <span class="wpcf7-list-item first">
           <input type="checkbox" name="chk-interests[]" value="Administration">&nbsp;<br>
           <span class="wpcf7-list-item-label">Administration</span></span>
                                <br>
                                <span class="wpcf7-list-item">
           <input type="checkbox" name="chk-interests[]" value="Public Relations">&nbsp;<br>
           <span class="wpcf7-list-item-label">Public Relations</span></span>
                                <br>
                                <span class="wpcf7-list-item">
           <input type="checkbox" name="chk-interests[]" value="Marketing">&nbsp;<br>
           <span class="wpcf7-list-item-label">Marketing</span></span>
                                <br>
                                <span class="wpcf7-list-item">
           <input type="checkbox" name="chk-interests[]" value="Product Development">&nbsp;<br>
           <span class="wpcf7-list-item-label">Product Development</span></span>
                                <br>
                                <span class="wpcf7-list-item">
           <input type="checkbox" name="chk-interests[]" value="Grants">&nbsp;<br>
           <span class="wpcf7-list-item-label">Grants</span></span>
                                <br>
                                <span class="wpcf7-list-item">
           <input type="checkbox" name="chk-interests[]" value="Billing">&nbsp;<br>
           <span class="wpcf7-list-item-label">Billing</span></span>
                                <br>
                                <span class="wpcf7-list-item">
           <input type="checkbox" name="chk-interests[]" value="Programs (FREE and FIGHT FREE)">&nbsp;<br><span class="wpcf7-list-item-label">Programs (FREE and FIGHT FREE</span></span>
                                <br>
                                <span class="wpcf7-list-item">
           <input type="checkbox" name="chk-interests[]" value="Web Design/ Web Programming">&nbsp;<br>
           <span class="wpcf7-list-item-label">Web Design/Web Programming</span></span>
                                <br>
            <span class="wpcf7-list-item">
           <input type="checkbox" name="chk-interests[]" value="Grants">&nbsp;<br>
           <span class="wpcf7-list-item-label">Fundarising</span></span>
                                <br>
                                <span class="wpcf7-list-item last">
           <!--<input type="checkbox" name="chk-interests[]" value="Fundraising">&nbsp;<br>
           <span class="wpcf7-list-item-label">Graphic Design</span></span>
                                <br>
                                 <span class="wpcf7-list-item last">
           <input type="checkbox" name="chk-interests[]" value="Fundraising">&nbsp;<br>
           <span class="wpcf7-list-item-label">Filim</span></span>
                                <br>
                                </span>
                                </span>
                                </span>
                            </p>-->

                            <p>
                                <span><strong>Special Skills or Qualifications</strong></span>
                                <br>
                                <br>
                                <span>
        <label>Summarize special skills and qualifications you have acquired from employment, previous volunteer work, or through other activities, including hobbies or sports...</label><br>
        <span class="wpcf7-form-control-wrap txt-specialSkills">
        <textarea name="txt-specialSkills" cols="40" rows="10" class="wpcf7-form-control wpcf7-textarea" aria-invalid="false"></textarea>
        </span>
                                </span>
                            </p>
                            <p>
                                <span><strong>Previous Volunteer Experience</strong></span>
                                <br>
                                <br>
                                <span>
        <label>Summarize your previous volunteer experience...</label><br>
        <span class="wpcf7-form-control-wrap txt-prevExperience">
        <textarea name="txt-prevExperience" cols="40" rows="10" class="wpcf7-form-control wpcf7-textarea" aria-invalid="false"></textarea>
        </span>
                                </span>
                            </p>

                            <p>
                                <span><strong>Why you would like to work as A Free Bird Volunteer?</strong></span>
                                <br>
                                <br>
                                <span>
        <span class="wpcf7-form-control-wrap txt-WhyBecome">
        <textarea name="txt-WhyBecome" cols="40" rows="10" class="wpcf7-form-control wpcf7-textarea" aria-invalid="false"></textarea>
        </span>
                                </span>
                            </p>
                            <p><span><strong>Resume (required)</strong><br>
                                <span class="wpcf7-form-control-wrap your-file">
                                <input type="file" name="your-file" size="40" class="wpcf7-form-control wpcf7-file" aria-invalid="false"></span></span><br>
                            </p>
                            <p><span><strong>References:Professional(First)</strong></span>
                                <br><br>
                                <span><label>Last Name (required)</label><br><span class="wpcf7-form-control-wrap txt-emerLastname"><input type="text" name="txt-emerLastname" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false"></span></span>
                                <br><br>
                                <span><label>First Name (required)</label><br><span class="wpcf7-form-control-wrap txt-emerFirstname"><input type="text" name="txt-emerFirstname" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false"></span></span>
                                <br><br>
                                <span><label>Relationship</label><br><span class="wpcf7-form-control-wrap txt-emerContactPhone"><input type="text" name="txt-emerContactPhone" value="" size="40" class="wpcf7-form-control wpcf7-text" aria-invalid="false"></span></span>
                                <br><br>
                                <span><label>Years known</label><br><span class="wpcf7-form-control-wrap txt-emerEmail"><input type="email" name="txt-emerEmail" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email" aria-required="true" aria-invalid="false"></span></span>
                            </p><br>
                                    
                                    
                            <p><span><strong>References:Professional(Second)</strong></span>
                                <br><br>
                                <span><label>Last Name (required)</label><br><span class="wpcf7-form-control-wrap txt-emerLastname"><input type="text" name="txt-emerLastname" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false"></span></span>
                                <br><br>
                                <span><label>First Name (required)</label><br><span class="wpcf7-form-control-wrap txt-emerFirstname"><input type="text" name="txt-emerFirstname" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false"></span></span>
                                <br><br>
                                <span><label>Relationship</label><br><span class="wpcf7-form-control-wrap txt-emerContactPhone"><input type="text" name="txt-emerContactPhone" value="" size="40" class="wpcf7-form-control wpcf7-text" aria-invalid="false"></span></span>
                                <br><br>
                                <span><label>Years known</label><br><span class="wpcf7-form-control-wrap txt-emerEmail"><input type="email" name="txt-emerEmail" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email" aria-required="true" aria-invalid="false"></span></span>
                            </p><br>
                                    
                                    
                                    
                            <p><span><strong>References:Personal</strong></span>
                                <br><br>
                                <span><label>Last Name (required)</label><br><span class="wpcf7-form-control-wrap txt-emerLastname"><input type="text" name="txt-emerLastname" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false"></span></span>
                                <br><br>
                                <span><label>First Name (required)</label><br><span class="wpcf7-form-control-wrap txt-emerFirstname"><input type="text" name="txt-emerFirstname" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false"></span></span>
                                <br><br>
                                <span><label>Relationship</label><br><span class="wpcf7-form-control-wrap txt-emerContactPhone"><input type="text" name="txt-emerContactPhone" value="" size="40" class="wpcf7-form-control wpcf7-text" aria-invalid="false"></span></span>
                                <br><br>
                                <span><label>Years known</label><br><span class="wpcf7-form-control-wrap txt-emerEmail"><input type="email" name="txt-emerEmail" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email" aria-required="true" aria-invalid="false"></span></span>
                            </p><br>
                                    
                                    
                            <p><span><strong>Person to Notify in Case of Emergency</strong></span>
                                <br><br>
                                <span><label>Last Name (required)</label><br><span class="wpcf7-form-control-wrap txt-emerLastname"><input type="text" name="txt-emerLastname" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false"></span></span>
                                <br><br>
                                <span><label>First Name (required)</label><br><span class="wpcf7-form-control-wrap txt-emerFirstname"><input type="text" name="txt-emerFirstname" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false"></span></span>
                                <br><br>
                                <span><label>Contact Phone (required)</label><br><span class="wpcf7-form-control-wrap txt-emerContactPhone"><input type="text" name="txt-emerContactPhone" value="" size="40" class="wpcf7-form-control wpcf7-text" aria-invalid="false"></span></span>
                                <br><br>
                                <span><label>Contact Email (required)</label><br><span class="wpcf7-form-control-wrap txt-emerEmail"><input type="email" name="txt-emerEmail" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email" aria-required="true" aria-invalid="false"></span></span>
                            </p>
                                    
                                    
                                    
                            <p><span><label>Please enter the following characters: </label><input type="hidden" name="_wpcf7_captcha_challenge_captcha-383" value="2138324862">
                            <img class="wpcf7-form-control wpcf7-captchac wpcf7-captcha-captcha-383" width="72" height="24" alt="captcha" src="http://www.afreebird.org/wp-content/uploads/wpcf7_captcha/2138324862.png"><br>
                            <span class="wpcf7-form-control-wrap captcha-383">
                              
                                
                                <input type="text" name="captcha-383" value="" size="40" class="wpcf7-form-control wpcf7-captchar" aria-invalid="false"></span></span>
                            </p>
                            <p><span><strong>Our Policy</strong></span>
                                <br><br>
                                <span>It is the policy of this organization to provide equal opportunities without regard to race, color, religion, national origin, gender, sexual preference, age, or disability.</span>
                                <br><br>
                                <span>Thank you for your interest in volunteering for A Free Bird.</span><br></p>
                            <p><span><strong>Agreement</strong></span>
                                <br><br>
                                <span><label>By submitting this application, I affirm that the facts set forth in it are true and complete. I understand that if I am accepted as a volunteer, any false statements, omissions, or other misrepresentations made by me on this application may result in my immediate dismissal.</label><span class="wpcf7-form-control-wrap chk-agreement"><input type="checkbox" name="chk-agreement" value="1" class="wpcf7-form-control wpcf7-acceptance" aria-invalid="false"></span></span><br><br>
                            </p>
                            <p><span><input type="submit" value="Send" class="wpcf7-form-control wpcf7-submit" disabled="disabled"><img class="ajax-loader" src="http://www.afreebird.org/wp-content/plugins/contact-form-7/images/ajax-loader.gif" alt="Sending ..." style="visibility: hidden;"></span></p>
                            <div class="wpcf7-response-output wpcf7-display-none"></div>
                        </form>
                    </div>



                </div>

            </div>


        </div>

    </div>

</div>