<div class="fullscreen-bluebg">
    
    <div class="container">
        
        
        <div class="container">
            
            <menu-directive> </menu-directive>
            
    
     <!--<div class="treebg">
         
         <div class="content-main">
            
             <div class="text">
             
                <div class="breadcrumbs"></div>
                   
                 <h2> About A &nbsp;&nbsp;Free  Bird </h2>-->
                 
                   <div  class="center" style="margin-top:50px">
                    
                       
                       
                       
                       <p> A Free Bird’s mission is to help children affected by cancer find the artist within themselves and
    to inspire them through our Dream program, educate them through our Fight Free Program,
    and celebrate them through our Free program.</p> 
                       
                    <p> Everything we do at A Free Bird is big: projects that children undertake are large-scale and
exciting! We describe ourselves as being a quality-over- quantity based organization, taking the
extra time and special effort to make every young artist we work with recognize their own
incredible talent and send them out into the world competent and confident in their chosen
artistic field. </p>
                       
                    
                
               <!--<iframe width="200" height="140" src="https://www.youtube.com/embed/5-TW-IqrIkc" frameborder="0" allowfullscreen></iframe>-->
               
               <div class="fullscreen-bluebg">

                   <video loop muted autoplay poster="styles/img/skysunriseimg.jpg" class="fullscreen-bg__video">
                   <source src="styles/img/skysunrise.mp4" type="video/mp4">
               </video>
               </div>
                 
                   </div>
             
             </div>
    </div>
              
         
          <!--</div>
    
     </div>

</div>-->
    
    
    