<div class="fullscreen-bluebg">
    
    <div class="container">
        
        
        <div class="container">
            
            <nav class="navbar navbar-inverse">
           <!-- style="margin-bottom:0; background-color:#2574A9; border-color:#2574A9; min-height:20px "-->
           
            <div class="container">
                
                
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-4">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    
                    <a class="navbar-brand" href="" style="font-color:#fff" ng-click="navigate('')">HOME</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="navbar-collapse-4">
                    <ul class="nav navbar-nav">
                        
                            <li class="dropdown">
                            <a href="" class="dropdown-toggle" data-toggle="dropdown">ABOUT<span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                        <li><a href="" ng-click="navigate('inspiration')">Inspiration </a></li>
                        <li><a href="" ng-click="navigate('mission')">Mission</a></li>
                        
                        
                    </ul>
                        </li>

                            <!--<li class="dropdown ">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">Tasks<b class="caret"></b></a>
      <ul class="dropdown-menu">
        <li>
          <a href="/tasks">List</a>
        </li>

        <li>
          <a href="/tasks/new">New Task</a>
        </li>-->

                            <!--<ul class="sub-menu">
                                <li id="menu-item-4840" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4840"><a href="http://www.afreebird.org/about/contact-us/">Contact Us</a></li>
                                <li id="menu-item-3065" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3065"><a href="http://www.afreebird.org/about/">THE INSPIRATION</a></li>
                                <li id="menu-item-3066" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3066"><a href="http://www.afreebird.org/about/the-inspiration/">The Inspiration</a></li>
                                <li id="menu-item-3077" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3077"><a href="http://www.afreebird.org/our-vision/">Our Mission</a></li>
                                <li id="menu-item-3067" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3067"><a href="http://www.afreebird.org/about/people-of-afb/">People of AFB</a></li>
                            </ul>-->







                        </li>
                        <!--<li><a href="" ng-click="navigate('inspiration')">INSPIRATION</a></li>-->
                        <li class="dropdown">
                            <a href="" class="dropdown-toggle" data-toggle="dropdown">AFB NEWS<span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                        <li><a href="" ng-click="navigate('thankyou')">THANK YOU </a></li>
                        <li><a href="" ng-click="navigate('afbmagazine')">AFB Magazine</a></li>
                        
                        
                    </ul>
                        </li>
                    
                        
                        <li><a href="http://online.fliphtml5.com/ynvi/mzfr/" target="_blank"> MAGAZINE</a></li>
                        <li><a href="" ng-click="navigate('doctorscorner')"> DOCTOR'S CORNER </a></li>
                        <li class="dropdown">
                            <a href="" class="dropdown-toggle" data-toggle="dropdown"> PROGRMAS<span class="caret"></span> </a>
                            <ul class="dropdown-menu" role="menu">
                        <li><a href="" ng-click="navigate('fightfree')">Fight Free</a></li>
                        <li><a href="" ng-click="navigate('freepro')">Free and Pro</a></li>
                        <li><a href="" ng-click="navigate('dream')">Dream</a></li>
                           <li><a href="" ng-click="navigate('ksk')">KSK</a></li>
                         <li><a href="" ng-click="navigate('asa')">ASA</a></li>
                        
                    </ul>
                        </li>
                        <!--<li><a href=""> GET INVOLVED </a></li>-->
                        <li class="dropdown">
                            <a href="" class="dropdown-toggle" data-toggle="dropdown">GET INVOLVED<span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="" ng-click="navigate('volunteer')">Become a Volunteer</a></li>
                                <li><a href="" ng-click="navigate('tutor')">Become a Tutor</a></li>
                                <li><a href="" ng-click="navigate('intern')">Become a Intern</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="" class="dropdown-toggle" data-toggle="dropdown">DONATE<span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="" ng-click="navigate('volunteer')">Go Fund Me</a></li>
                                <li><a href="" ng-click="navigate('tutor')">Amazon Smile</a></li>
                                <li><a href="" ng-click="navigate('intern')">ebay</a></li>
                            </ul>
                        </li>
                    <li class="dropdown">
                        <a href="" class="dropdown-toggle" data-toggle="dropdown" > SPONSORS<span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                        <li><a href="" ng-click="navigate('sponsor')">Sponsor a child</a></li>
                        <li><a href="" ng-click="navigate('sponsor')">Get Excited</a></li>
                        <li><a href="" ng-click="navigate('oursponsors')">Our Sponsor</a></li>
                        
                    </ul>
                        </li>
                        <li><a href="" ng-click="navigate('afbperfume')">AFB STORE </a></li>
                        <!--<li><a href="" ng-click="navigate('inspiration')">CONTACT US</a></li>-->
                       <!--<li><a href="http://online.fliphtml5.com/ynvi/mzfr/" target="_blank"> EVENTS</a></li>
                        <li><a href="" ng-click="navigate('doctorscorner')"> BLOG </a></li>
                        <li><a href="http://online.fliphtml5.com/ynvi/mzfr/" target="_blank"> AFB STORE</a></li>-->
                        
                    


                   




                    <ul class="collapse nav navbar-nav nav-collapse slide-down" role="search" id="nav-collapse4">
                        <li><a href="#">Support</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><img class="img-circle" src="https://pbs.twimg.com/profile_images/588909533428322304/Gxuyp46N.jpg" alt="maridlcrmn" width="20" /> Maridlcrmn <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#">My profile</a></li>
                                <li><a href="#">Favorited</a></li>
                                <li><a href="#">Settings</a></li>
                                <li class="divider"></li>
                                <li><a href="#">Logout</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container -->
           <!--</div>-->
        </nav>
        <!-- /.navbar -->


    <!--<div class="treebg">

        <div class="content-main7">

            <div class="text">

                <div class="breadcrumbs"></div>

                <h2> Signup &nbsp; for Our Newsletter</h2>-->

                <div  class="center" style="margin-top:50px">


                    <div role="form" class="wpcf7" id="wpcf7-f3802-p1799-o1" lang="en-US" dir="ltr">
                        <div class="screen-reader-response"></div>
                        <form action="/signup-to-our-newsletter/#wpcf7-f3802-p1799-o1" method="post" class="wpcf7-form" novalidate="novalidate">
                            <div style="display: none;">
                                <input type="hidden" name="_wpcf7" value="3802">
                                <input type="hidden" name="_wpcf7_version" value="4.3">
                                <input type="hidden" name="_wpcf7_locale" value="en_US">
                                <input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f3802-p1799-o1">
                                <input type="hidden" name="_wpnonce" value="b733a7dac5">
                            </div>
                            <p>Your Name (required)
                                <br>
                                <span class="wpcf7-form-control-wrap your-name">
                                <input type="text" name="your-name" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false">
                                </span> 
                            </p>
                            <p>Your Email (required)
                                <br>
                                <span class="wpcf7-form-control-wrap your-email">
                                <input type="email" name="your-email" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email" aria-required="true" aria-invalid="false">
                                </span> 
                            </p>
                            <p>
                                <input type="submit" value="Send" class="wpcf7-form-control wpcf7-submit">
                                <img class="ajax-loader" src="http://www.afreebird.org/wp-content/plugins/contact-form-7/images/ajax-loader.gif" alt="Sending ..." style="visibility: hidden;">
                            </p>
                            <div class="wpcf7-response-output wpcf7-display-none"></div>
                        </form>
                    </div>
                </div>

            </div>

        </div>


    </div>

</div>