<div class="fullscreen-bluebg">
    
     <!--div class="treebg">-->
         
         <div>
             
             <div class="container">
            
            <nav class="navbar navbar-inverse">
           <!-- style="margin-bottom:0; background-color:#2574A9; border-color:#2574A9; min-height:20px "-->
           
            <menu-directive> </menu-directive>
                
         <img class="circle-link circle1" src="styles/img/heyguystnku.jpg.png">
		 <img class="circle-link circle2" src="styles/img/heygodni.jpg.png">
	     <img class="circle-link circle3" src="styles/img/heybabe.jpg.png">
		 <img class="circle-link circle4" src="styles/img/hibabe.jpg.png">
		 <img class="circle-link circle5" src="styles/img/heyAFBstaff.jpg.png">
		 <img class="circle-link circle6" src="styles/img/dearfreebird.jpg.png">
	  </div>
         
    </div>
    
             <div class="fullscreen-bluebg">

                   <video loop muted autoplay poster="styles/img/skysunriseimg.jpg" class="fullscreen-bg__video">
                   <source src="styles/img/skysunrise.mp4" type="video/mp4">
               </video>
               </div>
</div>