<div>
    
     <!-- Second navbar for profile settings -->
    
    
	<header>
        
        
               <!--<nav>
                   <div class="row">
                      <ul class="main-nav">
                        <li><a href=""  ng-click="navigate('')"> HOME </a></li>
                        <li><a href="" ng-click="navigate('about')"> ABOUT </a></li>
                        <li><a href="#"> AFB IN THE NEWS </a></li>
                        <li><a href="#"> DOCTOR'S CORNER </a></li>
                        <li><a href="#"> PROGRAMS </a></li>
                        <li><a href="#"> GET INVOLVED </a></li>
                        <li><a href="#"> DONATE </a></li>
                        <li><a href="#"> OUR SPONSORS </a></li>
                        <li><a href="#"> EVENTS </a></li>
                        <li><a href="#"> AFB INSIDER </a></li>
                      </ul>   
                   
                   
                    </div>
               
               
               </nav>-->
        
               
               
               <img class="img-circle handcursor" src="styles/img/kidsupport.jpg">
               <img class="img-circle1 handcursor" src="styles/img/dream.jpg" ng-click="navigate('dream')">
               <img class="img-circle2 handcursor"  src="styles/img/fightfree.jpg" ng-click="navigate('fightfree')">
               <img class="img-circle3 handcursor" src="styles/img/freepro.jpg">
               <img class="img-circle4 handcursor" src="styles/img/socialmedia.jpg">
               <img class="img-circle5 handcursor" src="styles/img/artistsupport.jpg">
               <img class="img1 handcursor" src="styles/img/rednest.jpg">
               <img class="img2 handcursor" src="styles/img/boymagazine.jpg">
               <img class="img3 handcursor" src="styles/img/newsletter.jpg">
               <img class="img4 handcursor" src="styles/img/A%20freebird%20Logo.jpg">
               <img class="sponsor1 handcursor" src="styles/img/music.jpg">
               <img class="sponsor2 handcursor" src="styles/img/black.jpg">
               <img class="sponsor3 handcursor" src="styles/img/goodbean.jpg">
               <img class="sponsor4 handcursor" src="styles/img/theatre.jpg">
               <img class="sponsor5 handcursor" src="styles/img/dance.jpg">
               <img class="sponsor6 handcursor" src="styles/img/ballet.jpg">
               <!--<img class="img1" src="styles/img/artistsupport.jpg">-->
               <!--<img class="img-circle" src="styles/img/kidsupport.jpg">
               <!--<div class="button">dfgsahga</div>-->
               <!--<div class="hero-text-box1">-->
               
               <!--</div>-->
               <!--<video width="200" controls>
  <source src="https://youtu.be/5-TW-IqrIkc" type="video/mp4">
 
 
</video>-->
               
               <iframe width="200" height="140" src="https://www.youtube.com/embed/5-TW-IqrIkc" frameborder="0" allowfullscreen></iframe>
               
               <div class="fullscreen-bg">

                   <video loop muted autoplay poster="styles/img/skysunriseimg.jpg" class="fullscreen-bg__video">
                   <source src="styles/img/skysunrise.mp4" type="video/mp4">
               </video>
               </div>
            

               <!--<a href="#"> Dream </a>
               <a href="#"> Fight Free</a>
               <a href="#"> Free and Pro</a>
               <a href="#"> Social Media</a>-->
           
           
           </header>
</div>
