
    

<div class="fullscreen-bluebg" style="height:900px">
    
     <div class="treebg" style="height:900px">
         
         <div class="content-main" style="height:720px">
            
             <div class="text">
             
                <div class="breadcrumbs"></div>
                   
                 <h2> Inspiration </h2>
                 
                   <div>
                       
                    <p> The idea for A Free Bird™ was born out of the artistic energy experienced first-hand by singer/songwriter and makeup artist, Godni Amir Liteman, founder and president of the organization. When Godni’s voice teacher’s husband was diagnosed with cancer, Gail had to stop teaching most of her students to be her husband’s primary caregiver. Soon after, she was also diagnosed with cancer. Although she and her husband struggled to defeat the disease, she never gave up her passion for the arts! </p>
                       
                    <p> Deeply touched by Gail’s determination to continue teaching him and pursuing her artistic endeavors, Godni was inspired to write music and poetry that reflected her benevolent spirit, which lead to the creation of A Free Bird poem. After seeing how creative energy could provide solace and inspiration to cancer patients, Godni wanted to share the healing power of the arts with other patients. A Free Bird™ was then created, passing on the message that everyone should have the opportunity to express themselves and fly free.</p>
                       
                    <p style="text-align:center;">
                        
                       <em> "...The morning is here,</em>
                    </p>
                    
                    <em>
                        
                       <p style="text-align: center;">Rays of sun seep through the open air and dry my tears</p>
                       
                       <p style="text-align: center;">I get lost in his eyes– my pain I try to hide.</p>
                        
                       <p style="text-align: center;">Again I soldier on, another day has come</p>
                        
                       <p style="text-align: center;">Breathing is magic– I am not alone.</p>
                        
                       <p style="text-align: center;">This is the time, my darling, this is your time</p>
                        
                       <p style="text-align: center;">Hale and hearty, a free bird</p>
                        
                    </em>
                       
                       <p style="text-align: center;"><em>Hold my hand– let’s smile at the universe…”</em></p>
                       
                       <p style="text-align: center;"><b>An excerpt from the poem, <em>A Free Bird</em>, written by Godni Amir Liteman</b></p>
                    
                
                 
                   </div>
             
             </div>
              
         
          </div>
    
     </div>

</div>