<div class="fullscreen-bluebg1">

    <div class="treebg2">

        <div class="content-main5" height="1200" width="3182">

            <div class="text">

                <div class="breadcrumbs"></div>

                <h2> Become a Tutor </h2>

                <div>

                    <p>A Free Bird™ is always looking for enthusiastic individuals who are interested in the arts, therapy, and helping children to make a difference. Please complete the application below and we will contact you.</p>

                    <div role="form" class="wpcf7" id="wpcf7-f929-p24-o1" dir="ltr">
                        <div class="screen-reader-response"></div>
                        <form action="/volunteer/#wpcf7-f929-p24-o1" method="post" class="wpcf7-form" enctype="multipart/form-data" novalidate="novalidate">
                            <div style="display: none;">
                                <input type="hidden" name="_wpcf7" value="929">
                                <input type="hidden" name="_wpcf7_version" value="4.3">
                                <input type="hidden" name="_wpcf7_locale" value="">
                                <input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f929-p24-o1">
                                <input type="hidden" name="_wpnonce" value="adfb848c11">
                            </div>
                            <p><span><strong>Contact Information</strong><br><br>
</span>
                                <br>
                                <span>
   <label>Last Name (required)</label><br>
   <span class="wpcf7-form-control-wrap txt-lastname">
   <input type="text" name="txt-lastname" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false">
   </span>
                                </span>
                                <br>

                                <span>
    <label>First Name (required)</label><br>
      <span class="wpcf7-form-control-wrap txt-firstname">
      <input type="text" name="txt-firstname" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false">
      </span>
                                </span>
                                <br>

                                <span>
    <label>Street Address (required)</label><br>
      <span class="wpcf7-form-control-wrap txt-streetAddress">
      <input type="text" name="txt-streetAddress" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false">
      </span>
                                </span>
                                <br>

                                <span>
    <label>City, State and Zip Code (required)</label><br>
      <span class="wpcf7-form-control-wrap txt-city">
      <input type="text" name="txt-city" value="" size="40" class="wpcf7-form-control wpcf7-text" aria-invalid="false">
      </span>
                                </span>
                                <br>

                                <span>
    <label>Contact Phone (required)</label><br>
      <span class="wpcf7-form-control-wrap txt-contactPhone">
      <input type="text" name="txt-contactPhone" value="" size="40" class="wpcf7-form-control wpcf7-text" aria-invalid="false">
      </span>
                                </span>
                                <br>

                                <span>
    <label>Your Email (required)</label><br>
      <span class="wpcf7-form-control-wrap txt-email">
      <input type="email" name="txt-email" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email" aria-required="true" aria-invalid="false">
      </span>
                                </span>
                            </p>

                            <p><span><strong>Availability</strong><br>
</span>
                                <br>
                                <span>
    <label>During which hours are you available for volunteer assignments?</label>
</span>
                                <br>
                                <br>

                                <span class="check"><br>
  <span class="wpcf7-form-control-wrap chk-availibility">
    <span class="wpcf7-form-control wpcf7-checkbox wpcf7-validates-as-required">
      <span class="wpcf7-list-item first">
        <input type="checkbox" name="chk-availibility[]" value="Weekday Mornings">&nbsp;<br>
        <span class="wpcf7-list-item-label">Weekday Mornings</span></span>
                                <br>
                                <span class="wpcf7-list-item">
              <input type="checkbox" name="chk-availibility[]" value="Weekend Mornings">&nbsp;<br>
               <span class="wpcf7-list-item-label">Weekend Mornings</span></span>
                                <br>
                                <span class="wpcf7-list-item">
                    <input type="checkbox" name="chk-availibility[]" value="Weekday Afternoons">&nbsp;<br>
                    <span class="wpcf7-list-item-label">Weekday Afternoons</span></span>
                                <br>
                                <span class="wpcf7-list-item">
                    <input type="checkbox" name="chk-availibility[]" value="Weekend Afternoons">&nbsp;<br>
                    <span class="wpcf7-list-item-label">Weekend Afternoons</span></span>
                                <br>
                                <span class="wpcf7-list-item">
                    <input type="checkbox" name="chk-availibility[]" value="Weekday Evenings">&nbsp;<br>
                    <span class="wpcf7-list-item-label">Weekday Evenings</span></span>
                                <br>
                                <span class="wpcf7-list-item last">
                    <input type="checkbox" name="chk-availibility[]" value="Weekend Evenings">&nbsp;<br>
                    <span class="wpcf7-list-item-label">Weekend Evenings</span></span>
                                </span>
                                </span>
                                </span>
                            </p>
                            <br>

                            <p>
                                <span><strong>Interest</strong></span>
                                <br>
                                <br>
                                <span>
   <label>which areas you are interested in volunteering?</label><br>
   </span>
                                <br>

                                <span class="check">
      <span class="wpcf7-form-control-wrap chk-interests">
        <span class="wpcf7-form-control wpcf7-checkbox wpcf7-validates-as-required">
          <span class="wpcf7-list-item first">
           <input type="checkbox" name="chk-interests[]" value="Administration">&nbsp;<br>
           <span class="wpcf7-list-item-label">Musical Instrument</span></span>
                                <br>
                                <span class="wpcf7-list-item">
           <input type="checkbox" name="chk-interests[]" value="Public Relations">&nbsp;<br>
           <span class="wpcf7-list-item-label">Voice</span></span>
                                <br>
                                <span class="wpcf7-list-item">
           <input type="checkbox" name="chk-interests[]" value="Marketing">&nbsp;<br>
           <span class="wpcf7-list-item-label">Painting/Drwaing</span></span>
                                <br>
                                <span class="wpcf7-list-item">
           <input type="checkbox" name="chk-interests[]" value="Product Development">&nbsp;<br>
           <span class="wpcf7-list-item-label">Photography</span></span>
                                <br>
                                <span class="wpcf7-list-item">
           <input type="checkbox" name="chk-interests[]" value="Grants">&nbsp;<br>
           <span class="wpcf7-list-item-label">Acting</span></span>
                                <br>
                                <span class="wpcf7-list-item">
           <input type="checkbox" name="chk-interests[]" value="Billing">&nbsp;<br>
           <span class="wpcf7-list-item-label">Dance</span></span>
                                <br>
                                <span class="wpcf7-list-item">
           <input type="checkbox" name="chk-interests[]" value="Programs (FREE and FIGHT FREE)">&nbsp;<br><span class="wpcf7-list-item-label">Cosmetics</span></span>
                                <br>
                                <span class="wpcf7-list-item">
           <input type="checkbox" name="chk-interests[]" value="Web Design/ Web Programming">&nbsp;<br>
           <span class="wpcf7-list-item-label">Musical Production</span></span>
                                <br>
            <span class="wpcf7-list-item">
           <input type="checkbox" name="chk-interests[]" value="Grants">&nbsp;<br>
           <span class="wpcf7-list-item-label">Writing</span></span>
                                <br>
                                <span class="wpcf7-list-item last">
           <input type="checkbox" name="chk-interests[]" value="Fundraising">&nbsp;<br>
           <span class="wpcf7-list-item-label">Graphic Design</span></span>
                                <br>
                                 <span class="wpcf7-list-item last">
           <input type="checkbox" name="chk-interests[]" value="Fundraising">&nbsp;<br>
           <span class="wpcf7-list-item-label">Filim</span></span>
                                <br>
                                </span>
                                </span>
                                </span>
                            </p>

                            <p>
                                <span><strong>Special Skills or Qualifications</strong></span>
                                <br>
                                <br>
                                <span>
        <label>Summarize special skills and qualifications you have acquired from employment, previous volunteer work, or through other activities, including hobbies or sports...</label><br>
        <span class="wpcf7-form-control-wrap txt-specialSkills">
        <textarea name="txt-specialSkills" cols="40" rows="10" class="wpcf7-form-control wpcf7-textarea" aria-invalid="false"></textarea>
        </span>
                                </span>
                            </p>
                            <p>
                                <span><strong>Previous Volunteer Experience</strong></span>
                                <br>
                                <br>
                                <span>
        <label>Summarize your previous volunteer experience...</label><br>
        <span class="wpcf7-form-control-wrap txt-prevExperience">
        <textarea name="txt-prevExperience" cols="40" rows="10" class="wpcf7-form-control wpcf7-textarea" aria-invalid="false"></textarea>
        </span>
                                </span>
                            </p>

                            <p>
                                <span><strong>Why you would like to work as A Free Bird Volunteer?</strong></span>
                                <br>
                                <br>
                                <span>
        <span class="wpcf7-form-control-wrap txt-WhyBecome">
        <textarea name="txt-WhyBecome" cols="40" rows="10" class="wpcf7-form-control wpcf7-textarea" aria-invalid="false"></textarea>
        </span>
                                </span>
                            </p>
                            <p><span><strong>Resume (required)</strong><br>
                                <span class="wpcf7-form-control-wrap your-file">
                                <input type="file" name="your-file" size="40" class="wpcf7-form-control wpcf7-file" aria-invalid="false"></span></span><br>
                            </p>
                            <p><span><strong>Person to Notify in Case of Emergency</strong></span>
                                <br><br>
                                <span><label>Last Name (required)</label><br><span class="wpcf7-form-control-wrap txt-emerLastname"><input type="text" name="txt-emerLastname" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false"></span></span>
                                <br><br>
                                <span><label>First Name (required)</label><br><span class="wpcf7-form-control-wrap txt-emerFirstname"><input type="text" name="txt-emerFirstname" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false"></span></span>
                                <br><br>
                                <span><label>Contact Phone (required)</label><br><span class="wpcf7-form-control-wrap txt-emerContactPhone"><input type="text" name="txt-emerContactPhone" value="" size="40" class="wpcf7-form-control wpcf7-text" aria-invalid="false"></span></span>
                                <br><br>
                                <span><label>Contact Email (required)</label><br><span class="wpcf7-form-control-wrap txt-emerEmail"><input type="email" name="txt-emerEmail" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email" aria-required="true" aria-invalid="false"></span></span>
                            </p>
                            <p><span><label>Please enter the following characters: </label><input type="hidden" name="_wpcf7_captcha_challenge_captcha-383" value="2138324862">
                            <img class="wpcf7-form-control wpcf7-captchac wpcf7-captcha-captcha-383" width="72" height="24" alt="captcha" src="http://www.afreebird.org/wp-content/uploads/wpcf7_captcha/2138324862.png"><br>
                            <span class="wpcf7-form-control-wrap captcha-383">
                              
                                
                                <input type="text" name="captcha-383" value="" size="40" class="wpcf7-form-control wpcf7-captchar" aria-invalid="false"></span></span>
                            </p>
                            <p><span><strong>Our Policy</strong></span>
                                <br><br>
                                <span>It is the policy of this organization to provide equal opportunities without regard to race, color, religion, national origin, gender, sexual preference, age, or disability.</span>
                                <br><br>
                                <span>Thank you for your interest in volunteering for A Free Bird.</span><br></p>
                            <p><span><strong>Agreement</strong></span>
                                <br><br>
                                <span><label>By submitting this application, I affirm that the facts set forth in it are true and complete. I understand that if I am accepted as a volunteer, any false statements, omissions, or other misrepresentations made by me on this application may result in my immediate dismissal.</label><span class="wpcf7-form-control-wrap chk-agreement"><input type="checkbox" name="chk-agreement" value="1" class="wpcf7-form-control wpcf7-acceptance" aria-invalid="false"></span></span><br><br>
                            </p>
                            <p><span><input type="submit" value="Send" class="wpcf7-form-control wpcf7-submit" disabled="disabled"><img class="ajax-loader" src="http://www.afreebird.org/wp-content/plugins/contact-form-7/images/ajax-loader.gif" alt="Sending ..." style="visibility: hidden;"></span></p>
                            <div class="wpcf7-response-output wpcf7-display-none"></div>
                        </form>
                    </div>



                </div>

            </div>


        </div>

    </div>

</div>