
/* DEFAULT SETTINGS */




*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html
{
   /* background-color: #fff;*/
    /*color: #555;*/
    font-family: 'lato', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}

/*BOOTSTRAP CSS INHERITED FROM 'body.ng-scope'*/


body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #fff;
    background-color: #fff;
}

-------------
.row
{
    max-width: 1140px;
    margin: 0 auto;
}

.navbar {
   background-color: transparent;
   background: transparent;
   border-color: transparent;
}

/*.navbar li { color: #000 }*/ 

/*.navbar-inner
{
    background-image: none;
}*/

/*.navbar.navbar-inverse
{
    background-image: none;
}*/


/*.navbar.transparent.navbar-inverse .navbar-inner {
    border-width: 0px;
    -webkit-box-shadow: 0px 0px;
    box-shadow: 0px 0px;
    background-color: rgba(0,0,0,0.0);
    background-image: -webkit-gradient(linear, 50.00% 0.00%, 50.00% 100.00%, color-stop( 0% , rgba(0,0,0,0.00)),color-stop( 100% , rgba(0,0,0,0.00)));
    background-image: -webkit-linear-gradient(270deg,rgba(0,0,0,0.00) 0%,rgba(0,0,0,0.00) 100%);
    background-image: linear-gradient(180deg,rgba(0,0,0,0.00) 0%,rgba(0,0,0,0.00) 100%);
}*/


/*.hero-text-box{
    
    position: absolute;
    width: 1140px;
    top: 20%;
    left: 70%;
    transform: translate(-50%, -50%);
}

.hero-text-box1{
    
    position: absolute;
    width: 140px;
    top: 20%;
    right: 15%;
    transform: translate(-50%, -50%);
}*/

/* VIEW 'home.html' */

header
{
    
    background-image: url(img/thetree.png);
    height: 100vh;
    background-size: cover;
    background-position: center;
    margin: 0;
}

.left-tree-items {
    margin-top: 32%;
}

.tree-icon
{
width: 132px;
height: auto;
border-radius: 10%;
transform: translate(-50%, -50%);
}

/* VIDEO BACKGROUND */

.fullscreen-bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
    background-size: cover;
    
}

.fullscreen-bg__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@media (min-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    width: 100%;
    height: auto;
  }
}

@media (max-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    width: auto;
    height: 100%;
  }
}

/*.button {
    width: 100px;
    height: 100px;
    background-image: url("img/kidsupport.jpg");
    border: solid 1px #000;
    border-radius: 50%
}*/


 
/* CIRCLE IMAGES */

.img-circle {
    border-radius: 10%;
    position: absolute;
    top: 68%;
    left: 10%;
    width: 132px;
    height: auto;
    transform: translate(-50%, -50%);
    
}

.img-circle1 {
    border-radius: 10%;
    position: absolute;
    top: 53%;
    right: 14%;
    width: 132px;
    height: auto;
    transform: translate(-50%, -50%);
    
}

.img-circle2 {
    border-radius: 10%;
    position: absolute;
    top: 68%;
    right: 24%;
    width: 132px;
    height: auto;
    transform: translate(-50%, -50%);
    
}

.img-circle3 {
    border-radius: 10%;
    position: absolute;
    top: 70%;
    right: 4%;
    width: 132px;
    height: auto;
    transform: translate(-50%, -50%);
    
}

.img-circle4 {
    border-radius: 10%;
    position: absolute;
    top: 55%;
    left: 20%;
    width: 132px;
    height: auto;
    transform: translate(-50%, -50%);
    
}

.img-circle5 {
    border-radius: 10%;
    position: absolute;
    top: 68%;
    left: 30%;
    width: 132px;
    height: auto;
    transform: translate(-50%, -50%);
    
}

/* JOIN US, BOY MAGAZINE, SIGNUP NEWS LETTER IMAGES */

.img1
{
    border-radius: 10%;
    position: absolute;
    top: 26%;
    left: 23%;
    width: 155px;
    height: auto;
    transform: translate(-50%, -50%);
}

.img2
{
    border-radius: 10%;
    position: absolute;
    top: 30%;
    right: 33%;
    width: 220px;
    height: auto;
    transform: translate(-50%, -50%);
}

.img3
{
    border-radius: 10%;
    position: absolute;
    top: 26%;
    right: 10%;
    width: 155px;
    height: auto;
    transform: translate(-50%, -50%);
}

/* SPONSOR IMAGES */

/*.sponsor1 {
    border-radius: 10%;
    position: absolute;
    top: 95%;
    left: 13%;
    width: 70px;
    height: auto;
    transform: translate(-50%, -50%);
    
}

.sponsor2 {
    border-radius: 10%;
    position: absolute;
    top: 95%;
    left: 30%;
    width: 120px;
    height: auto;
    transform: translate(-50%, -50%);
    
}

.sponsor3 {
    border-radius: 10%;
    position: absolute;
    top: 94%;
    left: 50%;
    width: 100px;
    height: auto;
    transform: translate(-50%, -50%);
    
}

.sponsor4 {
    border-radius: 10%;
    position: absolute;
    top: 94%;
    right: 23%;
    width: 120px;
    height: auto;
    transform: translate(-50%, -50%);
    
}

.sponsor5 {
    border-radius: 10%;
    position: absolute;
    top: 95%;
    right: 15%;
    width: 60px;
    height: auto;
    transform: translate(-50%, -50%);
    
}

.sponsor6 {
    border-radius: 10%;
    position: absolute;
    top: 95%;
    right: 0%;
    width: 120px;
    height: auto;
    transform: translate(-50%, -50%);
    
}*/

/* A FREE BIRD LOGO */ 

.img4 {
    border-radius: 10%;
    position: absolute;
    top: 50%;
    left: 51.5%;
    width: 200px;
    height: auto;
    transform: translate(-50%, -50%);
    
}

/* WHITE LINE */

.tree-line
{
    width:4px;
}

/* A FREE BIRD YOUTUBE VIDEO */

iframe
{
    border-radius: 10%;
    position: absolute;
    top: 58%;
    left: 51.5%;
    width: 200px;
    height: 140;
    transform: translate(-50%, -50%);
    
}

/* MENU */

.main-nav
{
    float: right;
    list-style: none;
   
}

.transparentbar {
        background-repeat:no-repeat;
        cursor:pointer;
        outline:none;
        border:none;
        box-shadow:none; 
        background-image: none;

        background-color: transparent;
        background: transparent;
        border-color: transparent;

    }

/* MENU LISTS */

.main-nav li
{
    display: inline-block;
    margin-left: 18px;
    font-size: 15px;
}

.main-nav li a:link,
.main-nav li a:visited
{
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s;
    
}

.main-nav li a:hover,
.main-nav li a:active
{
    border-bottom: 2px solid #0c85c6;
}

/* VIEW 'ksk.html' */

header .ksk
{
    background-image: url(img/uploadvideo.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
    margin: 0;
}

.upload
{
    border-radius: 10%;
    position: absolute;
    top: 95%;
    left: 89%;
    width: 250px;
    height: auto;
    transform: translate(-50%, -50%);
}

/* VIEW 'dream.html' */

.dream
{
    background-image: url(img/dreamwithppl.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
    margin: 0;
}

.inspirationfontt
{
    
    border-radius: 10%;
    position: absolute;
    top: 26%;
    right: 0%;
    width: 300px;
    height: auto;
    transform: translate(-50%, -50%);
}
.dreamfontt
{
border-radius: 10%;
    position: absolute;
    top: 26%;
    right: 22%;
    width: 300px;
    height: auto;
    transform: translate(-50%, -50%);
}

.getinspiredbutton
{
    border-radius: 10%;
    position: absolute;
    top: 90%;
    left: 10%;
    width: 200px;
    height: auto;
    transform: translate(-50%, -50%);
    
}

.donateticketbutton
{
    border-radius: 10%;
    position: absolute;
    top: 98%;
    left: 10%;
    width: 200px;
    height: auto;
    transform: translate(-50%, -50%);
    
}



/* VIEW 'fightfree.html' */

.fightfree
{
    background-image: url(img/Fightfreesection.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
    margin: 0;
}

.handcursor
{
    cursor: pointer;
}

.transbox {
  margin: 30px;
  background-color: #ffffff;
  border: 1px solid black;
  opacity: 0.6;
  filter: alpha(opacity=60); /* For IE8 and earlier */
  border-radius: 10%;
  position: absolute;
  top: 30%;
  left: 85%;
  width: 250px;
  transform: translate(-50%, -50%);
  margin-left: 30px;
  border-color: #fff;
  color: black;
  
}

.transbox p {
  margin: 5%;
  font-weight: thin;
  color: #000000;
}

/* VIEW 'about.html' */

.center
{
    text-align: center;
    
}

.fullscreen-bluebg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
    background-size: cover;
    
}

.fullscreen-bg__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@media (min-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    width: 100%;
    height: auto;
  }
}

@media (max-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    width: auto;
    height: 100%;
  }
}

.fullscreen-bluebg {
    background-image: url(img/brightsky.jpg);
    height: 800px;
    width: 100%;
    background-size: cover;
    background-position:center;
    margin: 0;
}

.fullscreen-bluebg1 {
    background-image: url(img/brightsky.jpg);
    height: 3500px;
    width: 100%;
    background-size: cover;
    background-position: center;
    margin: 0;
}

.treebg
{
    background-image: url(img/thetree.png);
    height: 800px;
    background-size: cover;
    background-position: center;
    margin: 0;
}


.content-main
{
    
    float: left;
    width: 80%;
    
    border-radius: 20px;
    background-color: #ecf0f1;
    display: block;
    margin-left: 140px;
    color: #2980b9;
    margin-top: 150px;
    height: 600px;
    box-sizing: initial;
    clear: none;
    
}

.text
{
    width: 90%;
    margin: auto;
    padding-top: 10px;
    
}

h2
{
    
    display: block;
    font-family: 'Edwardian Script ITC', cursive;
    -webkit-margin-before: 0.83em;
    -webkit-margin-after: 0.83em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-size: 80px;
    font-weight: normal;
    line-height: 104px;
    text-align: center;
    margin-bottom: 0;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    
}

p
{
    display:block;
    font-size: 17px;
    line-height: 24px;
    /*margin-top: 15px;*/
    /*text-align: justify;*/
}

/*h1 {text-align:center;}*/
p {text-align:center;}

/* BOOTSTRAP MENU */

/*nav {
    margin-bottom: 0;
    background-color: #1e8bc3;
    border-color: #1e8bc3;
}*/

.nav navbar-nav navbar-right li
{
    display: inline-block;
    margin-left: 18px;
    font-size: 15px;
}

.nav navbar-nav navbar-right li a:link,
.nav navbar-nav navbar-right a:visited
{
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s;
    
    
}

.nav navbar-nav navbar-right a:hover,
.nav navbar-nav navbar-right a:active
{
    border-bottom: 2px solid #0c85c6;
}



.navbar-inverse .navbar-brand {
    color: #fff;
    font-size: 16px;
    padding: 10px 6px;
}

.navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-brand:focus {
    color:beige;
    background-color: transparent;
}


.navbar-inverse .navbar-nav>li>a{
    color: #fff;
}

.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:focus {
    color:beige;
}

.navbar-nav>li>a {
    padding: 10px 8px;
    
}

/* BOOTSTRAP DROP DOWN MENU */

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: transparent;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

.dropdown-menu>li>a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #3399FF;
    white-space: nowrap;
}

.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover, .navbar-inverse .navbar-nav>.open>a:focus {
    color: #fff;
     background-color: transparent;
}

/* VIEW 'inspiration.html */

.content-main1
{
    
    float: left;
    width: 80%;
    
    border-radius: 20px;
    background-color: #ecf0f1;
    display: block;
    margin-left: 140px;
    color: #2980b9;
    margin-top: 150px;
    height: 600px;
    box-sizing: initial;
    clear: none;
    
}


td, th {
    display: table-cell;
    vertical-align: inherit;
}

/* VIEW 'freepro.html */

.freepro
{
    background-image: url(img/boyfreefreeproextra.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
    margin: 0;
}

/* VIEW 'doctorscorner.html' */

.treebg1
{
    background-image: url(img/thetree.png);
    height: 1440px;
    background-size: cover;
    background-position: center;
    margin: 0;
}


.content-main2
{
    
    float: left;
    width: 1115px;
    
    border-radius: 20px;
    background-color: #ecf0f1;
    display: block;
    margin-left: 140px;
    color: #2980b9;
    margin-top: 150px;
    height: 1200px;
    box-sizing: initial;
    clear: none;
    
}

/* VIEW 'volunteer.html' */

.treebg2
{
    background-image: url(img/thetree.png);
    height: 1440px;
    background-size: cover;
    background-position: center;
    margin: 0;
}

.content-main3
{
    
    float: left;
    width: 1115px;
    
    border-radius: 20px;
    background-color: #ecf0f1;
    display: block;
    margin-left: 140px;
    color: #2980b9;
    margin-top: 150px;
    height: 3270px;
    box-sizing: initial;
    clear: none;
    
}

input {
    -webkit-appearance: textfield;
    background-color: white;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    -webkit-rtl-ordering: logical;
    -webkit-user-select: text;
    cursor: auto;
    padding: 1px;
    border-width: 2px;
    border-style: inset;
    border-color: initial;
}
user agent stylesheet
input, textarea, keygen, select, button {
    text-rendering: auto;
    color: initial;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    margin: 0em 0em 0em 0em;
    font: 11px BlinkMacSystemFont;
}
user agent stylesheet
input, textarea, keygen, select, button, meter, progress {
    -webkit-writing-mode: horizontal-tb;
}

input[type="checkbox" i] {
    -webkit-appearance: checkbox;
    box-sizing: border-box;
}

input[type="checkbox" i] {
    background-color: initial;
    margin: 3px 0.5ex;
    padding: initial;
    border: initial;
}

input[type="file" i] {
    align-items: baseline;
    color: inherit;
    text-align: start;
   
    
}

input[type="hidden" i], input[type="image" i], input[type="file" i] {
    -webkit-appearance: initial;
    background-color: initial;
    padding: initial;
    border: initial;
  
}

user agent stylesheet
input[type="hidden" i], input[type="image" i], input[type="file" i] {
    -webkit-appearance: initial;
    background-color: initial;
    padding: initial;
    padding-top: initial;
    padding-right: initial;
    padding-bottom: initial;
    padding-left: initial;
    
}
user agent stylesheet
input {
    -webkit-appearance: textfield;
    background-color: white;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    -webkit-rtl-ordering: logical;
    -webkit-user-select: text;
    cursor: auto;
    padding: 1px;
    border-width: 2px;
    border-style: inset;
    border-color: initial;
    border-radius: 20%;
  
}
user agent stylesheet
input, textarea, keygen, select, button {
    text-rendering: auto;
    color: initial;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    margin: 0em 0em 0em 0em;
    font: 11px BlinkMacSystemFont;
    
}
user agent stylesheet
input, textarea, keygen, select, button, meter, progress {
    -webkit-writing-mode: horizontal-tb;
}

img {
    border: 0;
}
img[Attributes Style] {
    width: 72px;
    height: 24px;
}

input .wpcf7-form-control wpcf7-file{
    
    border-radius: 20%;
}

/* freebird logo and social link */

/*#small-links {
    background-image: url(img/freebirdlogosocialbckgrund.jpg);
    background-repeat: no-repeat;
    height: 59px;
    
   margin-top: -0px;
}

div
{
    
display:block;    
}

#logo 
{
    float: left;
    margin-left: 44px;
}

user agent stylesheet
div 
{
    display: block;
}

#social-buttons 
{
    float: right;
    margin-right: 0px;
    margin-top: 7px;
    width: 300px;
}

#newsletter {
    width: 100px;
    height: 70px;
    float: left;
    margin-right: 10px;
    margin-top: -10px;
    background-image: url(http://www.afreebird.org/wp-content/themes/afree/images/nest_new.png);
}*/

.logooo
{
   border-radius: 10%;
    position: absolute;
    top: 10.5%;
    left: 15%;
    width: 300px;
    height: auto;
    transform: translate(-50%, -50%); 
    
}

.suscribe
{
    border-radius: 10%;
    position: absolute;
    top: 10.5%;
    right: 20%;
    width: 70px;
    height: auto;
    transform: translate(-50%, -50%);
    
}

.twitter
{
    border-radius: 10%;
    position: absolute;
    top: 10.5%;
    right: 18%;
    width: 43px;
    height: auto;
    transform: translate(-50%, -50%);
    
}

.facebook
{
    border-radius: 10%;
    position: absolute;
    top: 10.5%;
    right: 14.5%;
    width: 43px;
    height: auto;
    transform: translate(-50%, -50%);
}

.instagram
{
    border-radius: 10%;
    position: absolute;
    top: 10.5%;
    right: 11%;
    width: 43px;
    height: auto;
    transform: translate(-50%, -50%);
}

.youtube
{
    border-radius: 10%;
    position: absolute;
    top: 10.5%;
    right: 7.5%;
    width: 43px;
    height: auto;
    transform: translate(-50%, -50%);
}

/*p suscribetext
{
   
    font-size: 0.95em;
    border-radius: 10%;
    position: absolute;
    top:1%;
    right: 20%;
    width: 70px;
    height: auto;
    transform: translate(-50%, -50%);
    margin: 0;
    
}*/

/* VIEW thankyou.html */

.content-main4
{
    float: left;
    width: 80%;
    
    border-radius: 20px;
    background-color: #89C4F4;
    display: block;
    margin-left: 140px;
    color: #2980b9;
    margin-top: 150px;
    height: 800px;
    box-sizing: initial;
    clear: none;
    
    
    
}

.circle-link
{
   /*margin: 20px 0 0 40px;
    border-radius: 10%;
    position: absolute;
    width: 200px;
    height: auto;
    float: left;

    transition: width 0.5s, height 0.5s;
   -moz-transition: width 0.5s, height 0.5s;
   -webkit-transition: width 0.5s, height 0.5s;
    -ms-transition: width 0.5s, height 0.5s;
     -o-transition: width 0.5s, height 0.5s;
        transition: width 0.5s, height 0.5s;*/
    
    display: block;
	width: 150px;
	height: 150px;
	
	background-size: 100% 100%;
	float: left;
	position: absolute;
	transition: width 0.5s, height 0.5s;
	-moz-transition: width 0.5s, height 0.5s;
	-webkit-transition: width 0.5s, height 0.5s;
	-ms-transition: width 0.5s, height 0.5s;
	-o-transition: width 0.5s, height 0.5s;
	transition: width 0.5s, height 0.5s;

}

.circle-link:hover {
	width: 420px;
	height: 420px;
	z-index: 10;
}

.circle1 {
    
   
    top: 86%;
    left: 20%; 
   
    
    
}

.circle2 {
    
 
    top: 101%;
    left: 54%;
    
}

.circle3 {
    
  
    top: 50%;
    left: 68%;
    
}

.circle4 {
   
    top: 75%;
    left: 70%;
    
}

.circle5 {
    
   
    top: 40%;
    left: 20%;
   
}

.circle6 {
    
  
    top: 65%;
    left: 35%;
    
}

/*#circle2 {
    background-image: url('img/heygodni.jpg.png');
    margin: 20px 0 0 40px;
    border-radius: 10%;
    position: absolute;
    top: 50%;
    left: 30%;
    width: 120px;
    height: auto;
    transform: translate(-50%, -50%);
}

#circle3 {
    background-image: url('img/heybabe.jpg.png');
    margin: 20px 0 0 40px;
}

#circle4 {
    background-image: url('img/hibabe.jpg.png');
    margin: 20px 0 0 40px;
}

#circle5 {
    background-image: url('img/heyAFBstaff.jpg.png');
    margin: 20px 0 0 40px;
}

#circle6 {
    background-image: url('img/dearfreebird.jpg.png');
    margin: 20px 0 0 40px;
}*/

/*.circle_link 
{
    display: block;
    width: 150px;
    height: 150px;
    background-image: url(images/circle_light.png);
    background-size: 100% 100%;
    float: left;
    position: absolute;
    transition: width 0.5s, height 0.5s;
    -moz-transition: width 0.5s, height 0.5s;
    -webkit-transition: width 0.5s, height 0.5s;
    -ms-transition: width 0.5s, height 0.5s;
    -o-transition: width 0.5s, height 0.5s;
    transition: width 0.5s, height 0.5s;
    
}*/

/* VIEW 'tutor.html' */

.content-main5
{
    float: left;
    width: 1115px;
    
    border-radius: 20px;
    background-color: #ecf0f1;
    display: block;
    margin-left: 140px;
    color: #2980b9;
    margin-top: 150px;
    height: 5000px;
    box-sizing: initial;
    clear: none;
}




/* VIEW 'intern.html' */

input[type="radio" i] {
    -webkit-appearance: radio;
    box-sizing: border-box;
}
user agent stylesheet
input[type="radio" i], input[type="checkbox" i] {
    background-color: initial;
    margin: 3px 0.5ex;
    padding: initial;
    border: initial;
}

/* VIEW 'intern.html' */

.content-main6
{
    float: left;
    width: 1115px;
    
    border-radius: 20px;
    background-color: #ecf0f1;
    display: block;
    margin-left: 140px;
    color: #2980b9;
    margin-top: 150px;
    height: 5740px;
    box-sizing: initial;
    clear: none;
}


/* VIEW 'newsletter.html' */


.content-main7
{
    float: left;
    width: 80%;
    
    border-radius: 20px;
    background-color: #ecf0f1;
    display: block;
    margin-left: 140px;
    color: #2980b9;
    margin-top: 150px;
    height: 400px;
    box-sizing: initial;
    clear: none;
       
}


input[type="button" i], input[type="submit" i], input[type="reset" i], input[type="file" i]::-webkit-file-upload-button, button {
    align-items: flex-start;
    text-align: center;
    cursor: default;
    color: buttontext;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    background-color: buttonface;
    box-sizing: border-box;
    padding: 2px 6px 3px;
    border-width: 2px;
    border-style: outset;
    border-color: buttonface;
}
user agent stylesheet
input[type="button" i], input[type="submit" i], input[type="reset" i] {
    -webkit-appearance: push-button;
    -webkit-user-select: none;
    white-space: pre;
}


/* VIEW 'oursponsors.html' */

table[Attributes Style] {
    width: 13px;
    -webkit-margin-start: auto;
    -webkit-margin-end: auto;
    border-spacing: 25px;
}
user agent stylesheet
table {
    display: table;
    border-collapse: separate;
    border-spacing: 2px;
    border-color: grey;
}

/*VIEW 'events_carousel.html' */


  .carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 70%;
      margin: auto;
  }
  

